# LGBM 결과와 EASE 결과 중복 확인

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd
import numpy as np
import os
import random
from tqdm import tqdm
import torch
from sklearn.model_selection import train_test_split

import lightgbm as lgb
# from sklearn.metrics import roc_auc_score
# from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

In [27]:
lgbm_result = pd.read_csv('/opt/ml/input/fighting/model/EASE_LGBM_50_0.11748.csv')

In [28]:
ease_result = pd.read_csv('/opt/ml/input/fighting/Recbole/EASE_result.csv')

In [36]:
# lgbm - ease 결과 차집합 구하기
lgbm_ease = pd.concat([lgbm_result, ease_result, ease_result]).drop_duplicates(subset=['user', 'item'], keep=False)

In [37]:
lgbm_ease

          user  item
3           11  1682
7           11  1265
8           11  2997
9           11  1704
14          14  6539
...        ...   ...
313592  138493  4963
313593  138493  4995
313594  138493  2762
313597  138493  1258
313599  138493  1704

[197387 rows x 2 columns]

In [32]:
lgbm_result.shape

(313600, 2)

In [ ]:
# # 313600 - 197387 = 116213
# 즉 116213개는 겹친다. 전체중 약 37%