# LGBM 결과와 EASE 결과 중복 확인

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd
import numpy as np
import os
import random
from tqdm import tqdm
import torch
from sklearn.model_selection import train_test_split

import lightgbm as lgb
# from sklearn.metrics import roc_auc_score
# from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

In [38]:
lgbm_result = pd.read_csv('/opt/ml/input/fighting/model/EASE_LGBM_50_0.35198_lambdarank.csv')

In [39]:
ease_result = pd.read_csv('/opt/ml/input/fighting/Recbole/EASE_result.csv')

In [40]:
# lgbm - ease 결과 차집합 구하기
lgbm_ease = pd.concat([lgbm_result, ease_result, ease_result]).drop_duplicates(subset=['user', 'item'], keep=False)

In [41]:
lgbm_ease

          user  item
3           11  1265
4           11  1682
5           11  1704
9           11  3996
10          14  2762
...        ...   ...
313591  138493  2762
313593  138493  4963
313596  138493   589
313597  138493  4995
313598  138493  1704

[199711 rows x 2 columns]

In [42]:
lgbm_result.shape

(313600, 2)

In [43]:
dup_cnt = 313600 - lgbm_ease.shape[0]
dup_ratio = dup_cnt / 313600

In [44]:
print(f'겹치는 결과 개수: 313600 - {lgbm_ease.shape[0]} = {dup_cnt}\n')
print(f'겁치는 결과 비율: {dup_cnt} / 313600 = {dup_ratio:.5f}\n')

겹치는 결과 개수: 313600 - 199711 = 113889

겁치는 결과 비율: 113889 / 313600 = 0.36317

In [45]:
# # 313600 - 197387 = 116213
# 즉 116213개는 겹친다. 전체중 약 37%