# 제출 전 파일확인

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all'

import pandas as pd
import numpy as np
import os
import random
from tqdm import tqdm
import torch
from sklearn.model_selection import train_test_split

import lightgbm as lgb
# from sklearn.metrics import roc_auc_score
# from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

### 내 모델 결과와 가장 성능이 잘나온 모델 결과 비교
여기선 lgbm_result가 확인하고자하는 파일이고, ease_result가 가장 성능 잘나온 모델의 결과 파일입니다!

In [7]:
!readlink -ef ../Recbole/EASE_1_0_Top20_remove_review_after_movie.csv

/opt/ml/input/code/Recbole/EASE_1_0_Top20_remove_review_after_movie.csv

In [8]:
!readlink -ef ../Recbole/EASE_99_01.csv

/opt/ml/input/code/Recbole/EASE_99_01.csv

In [9]:
# 확인하고자하는 결과파일
df1 = pd.read_csv('/opt/ml/input/code/Recbole/EASE_1_0_Top20_remove_review_after_movie.csv')

In [10]:
# 가장 성능 잘나온 모델 결과 <- aistage에서 다운받아도 됩니다!
df2 = pd.read_csv('/opt/ml/input/code/Recbole/EASE_99_01.csv')

In [20]:
# lgbm - ease 결과 차집합 구하기
sm1 = pd.concat([df1, df2, df2]).drop_duplicates(subset=['user', 'item'], keep=False)

In [21]:
# lgbm - ease 결과 차집합 구하기
sm2 = pd.concat([df1, df2]).drop_duplicates(subset=['user', 'item'], keep=False)

In [25]:
df1.merge(df2,on=['user','item'])

          user   item
0           11   4370
1           11   4886
2           11     47
3           11  32587
4           11  40815
...        ...    ...
288562  138493   8970
288563  138493   5349
288564  138493   4022
288565  138493  32587
288566  138493  53125

[288567 rows x 2 columns]

In [22]:
sm1

          user   item
8           11   8961
19          14   1035
59          35  48516
98          60     50
107         61   6711
...        ...    ...
313563  138475   8228
313569  138475   1223
313579  138486   6539
313587  138492   1265
313595  138493   8961

[25033 rows x 2 columns]

In [23]:
sm2

          user   item
8           11   8961
19          14   1035
59          35  48516
98          60     50
107         61   6711
...        ...    ...
313567  138475   3334
313569  138475   4432
313579  138486   1219
313589  138492   3421
313599  138493  48394

[50066 rows x 2 columns]

In [15]:
dup_cnt = 313600 - sm.shape[0]
dup_ratio = dup_cnt / 313600

In [16]:
# 가장 잘나온 모델의 결과와 내 결과 비교
print(f'겹치는 결과 개수: 313600 - {sm.shape[0]} = {dup_cnt}\n')
print(f'겁치는 결과 비율: {dup_cnt} / 313600 = {dup_ratio:.5f}\n')

겹치는 결과 개수: 313600 - 25033 = 288567

겁치는 결과 비율: 288567 / 313600 = 0.92018

### 내 모델의 결과파일 아이템번호 분포확인
여기선 기준이 10000입니다.

In [65]:
print(f"EASE 결과 item 중 item번호가 10000 미만 item 개수: {len(ease_result.loc[(ease_result['item'] < 10000)])}\n")
print(f"EASE 결과 item 중 item번호가 10000 이상 item 개수: {len(ease_result.loc[(ease_result['item'] >= 10000)])}\n")
print(f"LGBM 결과 item 중 item번호가 10000 미만 item 개수: {len(lgbm_result.loc[(lgbm_result['item'] < 10000)])}\n")
print(f"LGBM 결과 item 중 item번호가 10000 이상 item 개수: {len(lgbm_result.loc[(lgbm_result['item'] >= 10000)])}\n")

EASE 결과 item 중 item번호가 10000 미만 item 개수: 252359

EASE 결과 item 중 item번호가 10000 이상 item 개수: 61241

LGBM 결과 item 중 item번호가 10000 미만 item 개수: 263040

LGBM 결과 item 중 item번호가 10000 이상 item 개수: 50560