In [2]:
import torch
import pandas as pd
import numpy as np
# pip install transformers
from transformers import BertTokenizer, BertModel
# 만약 주피터 노트북에서 아래와 관계있는 에러가 발생한다면
# pip install ipywidgets

In [3]:
main_df = pd.read_csv('/opt/ml/input/data/train/train_ratings.csv') # user-item-time
director_df = pd.read_csv('/opt/ml/input/data/train/directors.tsv', sep='\t') # item-director

# Director Embedding
director_df의 결측행, 중복행을 해결하기 ---> director의 행길이 : 6807

### 결측행 추가
director_df에 없는 영화정보를 director를 'nm0000000'으로해서 뒤에 추가

In [4]:
no_dir_item_list = list(set(main_df['item']) - set(director_df['item']))

In [5]:
no_dir_item_df = pd.DataFrame([x for x in zip(no_dir_item_list, ['nm0000000']*len(no_dir_item_list))])

In [6]:
no_dir_item_df.columns=director_df.columns # 컬럼명 동일하게

In [7]:
director_df = pd.concat([director_df, no_dir_item_df]) # 기존 director_df 뒤에 감독없는 영화 추가

In [8]:
director_df

        item   director
0       1237  nm0000005
1       5147  nm0000005
2       7327  nm0000005
3       2068  nm0000005
4       7396  nm0000005
...      ...        ...
1299   73681  nm0000000
1300   32728  nm0000000
1301   32743  nm0000000
1302  106491  nm0000000
1303    8191  nm0000000

[7209 rows x 2 columns]

In [13]:
merged_direct_df = main_df.merge(director_df, how='left')

In [14]:
merged_direct_df

           user   item        time   director
0            11   4643  1230782529  nm0000318
1            11    170  1230782534  nm0812200
2            11    531  1230782539  nm0002140
3            11    616  1230782542  nm0718627
4            11   2140  1230782563  nm0000568
...         ...    ...         ...        ...
5708948  138493  44022  1260209449  nm0757858
5708949  138493   4958  1260209482  nm0601382
5708950  138493  68319  1260209720  nm0004303
5708951  138493  40819  1260209726  nm0003506
5708952  138493  27311  1260209807  nm0000000

[5708953 rows x 4 columns]

In [15]:
merged_direct_df.isna().sum()

user        0
item        0
time        0
director    0
dtype: int64

### 아이템 별 감독정보 통계량으로 나타내기
한 아이템당 여러 감독이 참여했을 때, 감독들의 평균(interaction/movie_cnt) 평점중 가장 큰 수

In [16]:
# 아래 코드 이해용
item_list = director_df[director_df['director'] == 'nm0000005']['item'].tolist()

In [17]:
# 아래 코드 이해용
item_list

[1237,
 5147,
 7327,
 2068,
 7396,
 7820,
 4422,
 7939,
 7938,
 7941,
 7937,
 2131,
 34155,
 7936,
 7940,
 7577,
 7942,
 8405,
 7328]

In [313]:
# 아래 코드 이해용
len(merged_direct_df[merged_direct_df['item'].isin(item_list)])

6360

In [147]:
# #감독별 받은 총 interaction 수 정보
# director_list = merged_direct_df['director'].unique()
# director_dict = {}
# for name in director_list:
#     dir_item_list = director_df[director_df['director'] == name]['item'].tolist()   #해당 감독이 기여한 영화 리스트
#     director_dict[name] = len(merged_direct_df[merged_direct_df['item'].isin(dir_item_list)])           #해당 감독이 기여한 영화들의 총 interaction 수

In [18]:
#감독별 받은 총 interaction 수 정보 / 감독이 기여한 영화수
director_list = merged_direct_df['director'].unique()
director_dict = {}
for name in director_list:
    dir_item_list = director_df[director_df['director'] == name]['item'].tolist()   #해당 감독이 기여한 영화 리스트
    director_dict[name] = len(merged_direct_df[merged_direct_df['item'].isin(dir_item_list)]) / (len(dir_item_list)+1)      #해당 감독이 기여한 영화들의 총 interaction 수

In [19]:
director_dict

{'nm0000318': 2859.4444444444443,
 'nm0812200': 583.7142857142857,
 'nm0002140': 430.3333333333333,
 'nm0718627': 1966.076923076923,
 'nm0000568': 824.3076923076923,
 'nm0001345': 1399.75,
 'nm0001317': 511.07142857142856,
 'nm0000186': 1423.8181818181818,
 'nm0922346': 675.5714285714286,
 'nm0001675': 3917.133333333333,
 'nm0001382': 173.66666666666666,
 'nm0000000': 230.99233716475095,
 'nm0000343': 797.0,
 'nm0730422': 224.33333333333334,
 'nm0432627': 952.0,
 'nm0000386': 1700.5454545454545,
 'nm0205157': 280.6666666666667,
 'nm0378893': 636.0,
 'nm0000416': 4461.615384615385,
 'nm0145336': 88.0,
 'nm0935095': 235.83333333333334,
 'nm0405632': 330.6666666666667,
 'nm0281945': 438.25,
 'nm0000965': 2549.0,
 'nm0294379': 701.0,
 'nm0811583': 1948.7142857142858,
 'nm0499724': 611.5714285714286,
 'nm0031976': 1898.4,
 'nm0781842': 886.1111111111111,
 'nm0935863': 170.0909090909091,
 'nm0027271': 497.5,
 'nm0833779': 186.0,
 'nm0833780': 186.0,
 'nm0919363': 3031.3333333333335,
 'nm0919369': 2279.375,
 'nm0001723': 1806.25,
 'nm0644203': 548.8,
 'nm0001756': 1877.2,
 'nm0006625': 276.8,
 'nm0960028': 654.0,
 'nm0000231': 995.9411764705883,
 'nm0314671': 4422.181818181818,
 'nm0414144': 8386.0,
 'nm0455741': 5491.142857142857,
 'nm0527217': 8245.111111111111,
 'nm0000631': 2658.0,
 'nm0000116': 6703.0,
 'nm0000399': 4853.181818181818,
 'nm0001081': 1994.875,
 'nm0357453': 680.6666666666666,
 'nm0001232': 1851.909090909091,
 'nm0005222': 3374.0,
 'nm0641373': 136.75,
 'nm0813309': 49.333333333333336,
 'nm0000484': 1207.357142857143,
 'nm0327944': 1395.857142857143,
 'nm0752328': 307.6666666666667,
 'nm0339004': 256.5,
 'nm0159109': 1801.5,
 'nm0605479': 1297.0,
 'nm0913860': 2961.5,
 'nm0510912': 188.57142857142858,
 'nm0204884': 81.33333333333333,
 'nm0201509': 1754.4,
 'nm0426333': 1259.75,
 'nm0000154': 3085.2,
 'nm0000165': 1805.5238095238096,
 'nm0000881': 1713.1666666666667,
 'nm0000108': 2466.4444444444443,
 'nm0873779': 2980.8,
 'nm0936374': 3698.5,
 'nm0154819': 521.8,
 'nm0000217': 2056.4074074074074,
 'nm0000709': 3960.875,
 'nm0000264': 469.6875,
 'nm0001392': 4062.5333333333333,
 'nm0019282': 7957.2,
 'nm0035899': 11659.0,
 'nm0359457': 7788.857142857143,
 'nm0730860': 10100.0,
 'nm0766402': 12143.333333333334,
 'nm0446819': 2692.75,
 'nm0327273': 1837.888888888889,
 'nm0594503': 2425.0833333333335,
 'nm0905152': 9215.0,
 'nm0905154': 9215.0,
 'nm0000184': 4722.428571428572,
 'nm0449984': 3770.75,
 'nm0004056': 8473.8,
 'nm0550881': 734.5,
 'nm0796117': 2685.4444444444443,
 'nm0001239': 641.6666666666666,
 'nm0000682': 1454.9,
 'nm0635759': 1186.6666666666667,
 'nm0002653': 1105.0,
 'nm0920425': 820.4,
 'nm0721817': 1115.8333333333333,
 'nm0939128': 340.0,
 'nm0000229': 4369.5,
 'nm0001460': 553.4,
 'nm0000466': 3444.285714285714,
 'nm0718645': 1320.8461538461538,
 'nm0000600': 2050.3571428571427,
 'nm0027459': 205.66666666666666,
 'nm0089940': 789.1111111111111,
 'nm0325776': 853.6,
 'nm0711840': 1092.1,
 'nm0504642': 882.4285714285714,
 'nm0001639': 2356.4,
 'nm0878638': 575.4285714285714,
 'nm0297935': 1335.6666666666667,
 'nm0716257': 710.75,
 'nm0622112': 2665.2,
 'nm0936404': 761.5833333333334,
 'nm0001716': 1390.125,
 'nm0603628': 1089.5,
 'nm0000583': 1668.4,
 'nm0934483': 1410.3333333333333,
 'nm0629272': 1889.8333333333333,
 'nm0651900': 734.8,
 'nm0000233': 9632.166666666666,
 'nm0744834': 2714.0,
 'nm0942367': 4808.5,
 'nm0957772': 2712.0,
 'nm0868219': 1647.5555555555557,
 'nm0083348': 4755.0,
 'nm0269463': 1709.625,
 'nm0004306': 906.4444444444445,
 'nm0464804': 442.8,
 'nm0001532': 3170.7,
 'nm0000500': 923.5,
 'nm0001741': 3748.777777777778,
 'nm0354126': 120.66666666666667,
 'nm0951197': 120.66666666666667,
 'nm0417708': 212.0,
 'nm0608084': 212.0,
 'nm0134176': 270.5,
 'nm0504513': 454.0,
 'nm0747849': 143.14285714285714,
 'nm0386570': 1165.75,
 'nm0574625': 2184.0,
 'nm1103162': 448.2,
 'nm0848414': 409.8888888888889,
 'nm0394280': 238.5,
 'nm0000487': 1626.1666666666667,
 'nm0000247': 776.8571428571429,
 'nm0101385': 596.25,
 'nm0591171': 113.66666666666667,
 'nm0001219': 557.75,
 'nm0609236': 1053.1666666666667,
 'nm0757858': 2433.5,
 'nm0917188': 3017.25,
 'nm0881038': 437.0,
 'nm0000455': 2485.625,
 'nm0000316': 1526.6,
 'nm1349376': 1277.1666666666667,
 'nm0001104': 5783.2,
 'nm0005124': 7436.166666666667,
 'nm0105169': 7101.666666666667,
 'nm0881279': 16267.0,
 'nm0001402': 6730.166666666667,
 'nm0000361': 1352.4117647058824,
 'nm0601619': 1518.875,
 'nm0893659': 2679.2,
 'nm0001060': 2143.1666666666665,
 'nm0802248': 539.6,
 'nm0125803': 2836.3636363636365,
 'nm0268380': 2836.3636363636365,
 'nm0000338': 2610.5333333333333,
 'nm0272568': 10104.0,
 'nm0789313': 8621.857142857143,
 'nm0829038': 462.0,
 'nm0001774': 1208.8333333333333,
 'nm0116497': 819.3333333333334,
 'nm0354691': 857.6666666666666,
 'nm0613471': 818.0,
 'nm0754678': 828.0,
 'nm0783139': 1792.6,
 'nm0797869': 553.1428571428571,
 'nm0946734': 2039.5,
 'nm0684342': 4275.333333333333,
 'nm0510731': 2489.25,
 'nm0159507': 1270.6666666666667,
 'nm0629334': 687.6666666666666,
 'nm0001708': 816.7058823529412,
 'nm0004675': 4809.2,
 'nm0005540': 367.5,
 'nm0001338': 594.2,
 'nm0141961': 296.5,
 'nm0863387': 240.0,
 'nm0001915': 724.5,
 'nm0906548': 195.0,
 'nm0001102': 494.7692307692308,
 'nm0005062': 866.6666666666666,
 'nm0934578': 141.88888888888889,
 'nm0551128': 774.1666666666666,
 'nm0074426': 631.3333333333334,
 'nm0421776': 9518.666666666666,
 'nm1224299': 881.3333333333334,
 'nm0298807': 704.6666666666666,
 'nm0378144': 192.0,
 'nm0611683': 647.8,
 'nm0065608': 273.3333333333333,
 'nm0082300': 79.75,
 'nm0918873': 159.5,
 'nm0001129': 1991.2727272727273,
 'nm0549658': 3282.0,
 'nm0001053': 6733.058823529412,
 'nm0001054': 6446.444444444444,
 'nm0000957': 1676.8333333333333,
 'nm0021249': 6511.333333333333,
 'nm0591450': 2873.0,
 'nm0005190': 604.3846153846154,
 'nm0751080': 1056.5,
 'nm0958387': 3445.1428571428573,
 'nm0001661': 2312.133333333333,
 'nm0001403': 607.5384615384615,
 'nm0005563': 522.25,
 'nm0011470': 10503.8,
 'nm0002132': 766.125,
 'nm0006960': 874.2857142857143,
 'nm0001469': 1088.1052631578948,
 'nm0190859': 3569.375,
 'nm0336620': 1067.4285714285713,
 'nm0576987': 2685.0,
 'nm0125186': 1206.6666666666667,
 'nm0325196': 1415.0,
 'nm0402563': 1023.3333333333334,
 'nm0908824': 556.75,
 'nm0634240': 6552.6,
 'nm0353673': 1869.5,
 'nm0001162': 137.5,
 'nm0457541': 88.0,
 'nm0401203': 728.3333333333334,
 'nm0003418': 499.44444444444446,
 'nm0397174': 1219.6666666666667,
 'nm0930261': 830.6666666666666,
 'nm0005509': 842.5,
 'nm0379179': 277.0,
 'nm0276169': 132.8,
 'nm0006476': 825.3333333333334,
 'nm0004303': 496.8,
 'nm0213450': 2074.8,
 'nm0761498': 2475.25,
 'nm0001681': 575.2222222222222,
 'nm0000824': 407.7,
 'nm0001410': 366.90909090909093,
 'nm0220600': 240.5,
 'nm0166256': 3751.714285714286,
 'nm0615780': 3751.714285714286,
 'nm0359387': 481.6,
 'nm0000142': 1100.71875,
 'nm0001348': 282.63157894736844,
 'nm0948159': 369.0,
 'nm0531817': 682.5,
 'nm0600546': 461.75,
 'nm0206760': 5812.666666666667,
 'nm0267512': 5812.666666666667,
 'nm0000158': 4447.6,
 'nm0001008': 964.7777777777778,
 'nm0152312': 1525.0,
 'nm9054338': 1136.6666666666667,
 'nm0520485': 2676.6666666666665,
 'nm0661910': 2851.5,
 'nm0001837': 1849.8461538461538,
 'nm0000180': 832.4,
 'nm0381478': 1151.6666666666667,
 'nm0855035': 627.125,
 'nm0001328': 368.27777777777777,
 'nm0506613': 291.3,
 'nm0398185': 411.8,
 'nm0001874': 214.16666666666666,
 'nm0196536': 222.33333333333334,
 'nm0751221': 154.8,
 'nm0836328': 755.875,
 'nm0612322': 908.2,
 'nm0002030': 3052.6875,
 'nm0562645': 259.5,
 'nm0001752': 1306.75,
 'nm0286975': 1637.75,
 'nm0118333': 849.5,
 'nm0510674': 752.0,
 'nm0842582': 212.25,
 'nm0145309': 194.2,
 'nm0640334': 433.25,
 'nm0227540': 663.3333333333334,
 'nm0492909': 292.5,
 'nm0000776': 341.6666666666667,
 'nm0662529': 172.28571428571428,
 'nm0038432': 5231.75,
 'nm0970447': 5540.5,
 'nm0006837': 236.16666666666666,
 'nm0628345': 202.0,
 'nm0853130': 202.0,
 'nm0000110': 580.7,
 'nm0000200': 396.6666666666667,
 'nm0001873': 438.0,
 'nm0000905': 1584.5,
 'nm0001112': 1260.0,
 'nm0000277': 614.1428571428571,
 'nm0399853': 390.6666666666667,
 'nm0796645': 60.333333333333336,
 'nm0945026': 596.4,
 'nm0772259': 370.875,
 'nm0005008': 471.75,
 'nm0001565': 1669.6666666666667,
 'nm0003088': 1266.0,
 'nm0000770': 821.6666666666666,
 'nm0569790': 307.75,
 'nm0914132': 502.0,
 'nm0000953': 268.42857142857144,
 'nm0101047': 426.0,
 'nm0271402': 374.0,
 'nm0000626': 199.66666666666666,
 'nm0371059': 622.0,
 'nm0447944': 83.0,
 'nm0467396': 308.25,
 'nm0523932': 206.33333333333334,
 'nm0002190': 113.0,
 'nm0000037': 1093.2,
 'nm0002045': 729.7,
 'nm0485943': 258.0,
 'nm0487567': 108.0,
 'nm0230032': 9779.5,
 'nm0798899': 11930.333333333334,
 'nm0942504': 974.1428571428571,
 'nm0001175': 490.64285714285717,
 'nm0000750': 326.7142857142857,
 'nm0788202': 268.0,
 'nm0001508': 1140.375,
 'nm0788234': 456.0,
 'nm0002159': 234.33333333333334,
 'nm0583600': 734.6666666666666,
 'nm0002031': 926.0909090909091,
 'nm0000485': 444.77777777777777,
 'nm0000601': 1721.4,
 'nm0000040': 3864.5384615384614,
 'nm0001149': 1397.0,
 'nm0001628': 792.7272727272727,
 'nm0661751': 884.5,
 'nm0163706': 592.6666666666666,
 'nm0373429': 13347.333333333334,
 'nm0770961': 367.2,
 'nm0000816': 439.2,
 'nm0003593': 414.375,
 'nm0757256': 257.25,
 'nm0001351': 999.3333333333334,
 'nm0002120': 724.4666666666667,
 'nm0003697': 1478.0,
 'nm0551358': 643.3333333333334,
 'nm0024622': 1167.3333333333333,
 'nm0575523': 171.33333333333334,
 'nm0654830': 163.2,
 'nm0313623': 2018.3333333333333,
 'nm0000694': 232.8,
 'nm0001466': 2054.8571428571427,
 'nm0849786': 403.0,
 'nm0000591': 932.8333333333334,
 'nm0001566': 807.7058823529412,
 'nm0000019': 329.0,
 'nm0346550': 437.8,
 'nm0000490': 745.0,
 'nm0170043': 2178.6,
 'nm0000265': 486.2142857142857,
 'nm0005139': 229.44444444444446,
 'nm0146341': 1018.0,
 'nm0193485': 1430.25,
 'nm0000095': 542.3333333333334,
 'nm0197636': 1016.6,
 'nm0005069': 2976.0,
 'nm0001068': 1795.1666666666667,
 'nm0382584': 293.2,
 'nm0565336': 737.5,
 'nm0001379': 478.8,
 'nm0680846': 1182.5555555555557,
 'nm0000985': 1337.5,
 'nm0001437': 276.5,
 'nm0002728': 358.0,
 'nm0000788': 356.3333333333333,
 'nm0000134': 664.6666666666666,
 'nm0164187': 326.75,
 'nm0027572': 2192.1111111111113,
 'nm1349522': 486.75,
 'nm0609549': 1252.2,
 'nm0751102': 1132.125,
 'nm0001814': 2135.3846153846152,
 'nm0004716': 2773.714285714286,
 'nm0000126': 1794.25,
 'nm0005366': 1804.2727272727273,
 'nm0003620': 1878.6363636363637,
 'nm0281808': 8682.2,
 'nm0503777': 3692.8,
 'nm0851537': 11749.0,
 'nm0861703': 8895.25,
 'nm0896542': 7065.2,
 'nm0187769': 1209.0,
 'nm0431918': 2177.6,
 'nm0878756': 2619.625,
 'nm0891216': 1856.5,
 'nm0923736': 2187.0,
 'nm0348181': 454.25,
 'nm0002657': 1760.0,
 'nm0719208': 1178.0,
 'nm1853544': 1538.6666666666667,
 'nm0400436': 977.0,
 'nm0400441': 922.4285714285714,
 'nm2676052': 521.0,
 'nm0569891': 1223.8,
 'nm0000230': 633.1428571428571,
 'nm0138620': 389.4,
 'nm1139726': 1648.0,
 'nm0005363': 3313.8571428571427,
 'nm0936482': 1098.6,
 'nm0000916': 501.5,
 'nm0477035': 672.25,
 'nm0871860': 270.0,
 'nm0151540': 367.6,
 'nm0088955': 2074.3333333333335,
 'nm0003506': 1493.0,
 'nm0651706': 868.75,
 'nm0229694': 718.5714285714286,
 'nm1012501': 548.3333333333334,
 'nm0149446': 2629.0,
 'nm0275286': 260.3333333333333,
 'nm0004410': 872.0,
 'nm0962729': 872.0,
 'nm0000948': 1657.6666666666667,
 'nm0425756': 284.0,
 'nm0501185': 56.0,
 'nm0593610': 288.75,
 'nm0294997': 97.5,
 'nm0783536': 97.5,
 'nm0132709': 1817.111111111111,
 'nm0138927': 568.3333333333334,
 'nm0476201': 256.75,
 'nm1844237': 699.3333333333334,
 'nm0281507': 365.9,
 'nm0001093': 471.85714285714283,
 'nm0661791': 874.4444444444445,
 'nm0000436': 1434.625,
 'nm0587277': 396.8,
 'nm0899121': 316.2,
 'nm0443411': 2974.5,
 'nm0000169': 209.0,
 'nm0000576': 717.0,
 'nm0718646': 3124.4,
 'nm0000759': 1709.375,
 'nm0853380': 575.25,
 'nm0158984': 3042.0,
 'nm0955443': 659.8461538461538,
 'nm0339030': 2664.285714285714,
 'nm0588340': 8160.25,
 'nm0000520': 1683.4,
 'nm0001880': 1609.7,
 'nm0586281': 293.4,
 'nm0424800': 262.3333333333333,
 'nm1272773': 287.75,
 'nm0885249': 316.0,
 'nm0318916': 394.75,
 'nm0000464': 680.0909090909091,
 'nm0891554': 126.0,
 'nm0824882': 293.5,
 'nm0590122': 223.66666666666666,
 'nm0366004': 860.25,
 'nm1134029': 1198.6666666666667,
 'nm0625458': 401.3333333333333,
 'nm0000915': 471.2857142857143,
 'nm0428600': 431.0,
 'nm0933505': 382.6,
 'nm0585011': 493.25,
 'nm0843640': 96.75,
 'nm0170719': 213.2,
 'nm0525303': 1287.1666666666667,
 'nm0222043': 373.25,
 'nm0001885': 417.4,
 'nm0534084': 1058.3333333333333,
 'nm0939182': 396.8888888888889,
 'nm0000697': 605.6,
 'nm0001425': 523.9,
 'nm0001188': 1201.3333333333333,
 'nm0000041': 779.65,
 'nm0005237': 1087.8333333333333,
 'nm0000080': 679.0,
 'nm0000209': 700.0,
 'nm0000602': 511.1111111111111,
 'nm0001005': 330.42857142857144,
 'nm0664756': 315.0,
 'nm0000720': 3030.0,
 'nm0001878': 2333.6,
 'nm0181902': 574.2,
 'nm0001994': 319.1111111111111,
 'nm0000671': 896.6666666666666,
 'nm0000778': 373.6666666666667,
 'nm0528718': 780.2857142857143,
 'nm0389591': 591.8,
 'nm0416945': 300.75,
 'nm0005421': 504.0,
 'nm0790715': 618.1428571428571,
 'nm0742341': 811.25,
 'nm0671957': 443.2857142857143,
 'nm0001047': 1070.0,
 'nm0422484': 358.0,
 'nm0868153': 460.6666666666667,
 'nm0382956': 360.6,
 'nm0001486': 920.2,
 'nm0442241': 501.7142857142857,
 'nm0637518': 780.1666666666666,
 'nm0413875': 315.85714285714283,
 'nm0769874': 1339.6,
 'nm0423646': 367.0,
 'nm0001241': 816.0,
 'nm0005303': 660.0,
 'nm0911061': 227.5,
 'nm0412465': 491.0,
 'nm0959062': 928.0,
 'nm0000814': 890.3333333333334,
 'nm0000934': 391.875,
 'nm0000736': 385.625,
 'nm0000797': 580.1666666666666,
 'nm0007182': 353.6666666666667,
 'nm0525659': 544.0,
 'nm0001714': 220.66666666666666,
 'nm0000976': 1545.6,
 'nm0782384': 106.33333333333333,
 'nm0001226': 288.42857142857144,
 'nm0001988': 3014.6666666666665,
 'nm0001415': 416.22222222222223,
 'nm0001302': 891.5,
 'nm0000921': 167.2,
 'nm0320660': 431.0,
 'nm0000886': 252.0,
 'nm0000269': 753.125,
 'nm0041932': 213.33333333333334,
 'nm0000835': 176.6,
 'nm0001438': 131.77777777777777,
 'nm0000454': 570.3333333333334,
 'nm0000118': 566.4444444444445,
 'nm0000382': 153.85714285714286,
 'nm0001587': 621.25,
 'nm1041597': 1527.3333333333333,
 'nm0668247': 2468.0,
 'nm0541677': 152.5,
 'nm0287025': 158.0,
 'nm0744035': 508.0,
 'nm0886754': 235.16666666666666,
 'nm0000005': 318.0,
 'nm0213340': 470.3333333333333,
 'nm0000127': 1094.7333333333333,
 'nm0000801': 3466.6666666666665,
 'nm0481418': 1918.6666666666667,
 'nm0758574': 2681.0,
 'nm0001252': 193.33333333333334,
 'nm1720541': 803.2,
 'nm0001024': 549.0,
 'nm0875793': 149.4,
 'nm0153078': 1221.4,
 'nm0551076': 338.4,
 'nm0638354': 6335.0,
 'nm0001130': 696.0,
 'nm0253323': 323.3333333333333,
 'nm0438226': 323.3333333333333,
 'nm0281396': 381.5,
 'nm0291205': 3346.285714285714,
 'nm0003638': 330.0,
 'nm0027183': 317.0,
 'nm0138809': 574.6666666666666,
 'nm1016428': 259.6,
 'nm0006487': 598.4285714285714,
 'nm0001945': 385.0,
 'nm0001045': 142.25,
 'nm0692872': 217.0,
 'nm0705535': 510.0,
 'nm0000559': 911.5,
 'nm0000958': 432.6666666666667,
 'nm0001243': 754.8888888888889,
 'nm0357891': 655.6,
 'nm0276349': 406.6666666666667,
 'nm1410815': 147.0,
 'nm0004121': 4774.5,
 'nm0500896': 6344.0,
 'nm0518644': 3968.6,
 'nm0009788': 434.6666666666667,
 'nm0001554': 306.77777777777777,
 'nm1732981': 1424.3333333333333,
 'nm2480587': 385.0,
 'nm0316795': 351.75,
 'nm0516360': 120.54545454545455,
 'nm0019247': 942.0,
 'nm0567620': 139.33333333333334,
 'nm0898288': 291.5,
 'nm0393799': 809.1666666666666,
 'nm0771054': 250.2,
 'nm0091076': 133.66666666666666,
 'nm0002191': 242.2,
 'nm0440913': 357.0,
 'nm0359734': 227.54545454545453,
 'nm0000941': 867.4285714285714,
 'nm0200005': 215.66666666666666,
 'nm1291105': 474.0,
 'nm0082450': 280.25,
 'nm0958969': 102.8,
 'nm0193231': 58.333333333333336,
 'nm0000517': 637.3333333333334,
 'nm0724938': 185.5,
 'nm0677953': 509.875,
 'nm0001355': 123.42857142857143,
 'nm0000033': 1084.0882352941176,
 'nm0943758': 277.8095238095238,
 'nm0762263': 154.66666666666666,
 'nm0998825': 479.6666666666667,
 'nm0000406': 313.4117647058824,
 'nm0006854': 468.42857142857144,
 'nm0141222': 1071.0,
 'nm0000408': 1032.25,
 'nm0005295': 1369.5,
 'nm0000581': 247.54545454545453,
 'nm0006452': 319.85714285714283,
 'nm0128883': 337.0,
 'nm0593463': 323.0,
 'nm0459170': 739.0,
 'nm0300265': 1158.0,
 'nm0178997': 980.0,
 'nm0254632': 428.3333333333333,
 'nm0405336': 200.33333333333334,
 'nm0001408': 578.2,
 'nm0803203': 245.0,
 'nm0000431': 711.5,
 'nm0787601': 660.6666666666666,
 'nm0841232': 129.0,
 'nm0000438': 192.33333333333334,
 'nm0231596': 405.0,
 'nm1512910': 2072.6666666666665,
 'nm0426059': 976.5,
 'nm0240627': 1559.6666666666667,
 'nm0000255': 1408.0,
 'nm0009190': 1937.4,
 'nm0178376': 223.33333333333334,
 'nm0716347': 336.125,
 'nm0323239': 377.5,
 'nm0006904': 696.25,
 'nm0026442': 671.7142857142857,
 'nm0019242': 415.3333333333333,
 'nm0520488': 1002.8,
 'nm0588087': 1002.8,
 'nm0753382': 754.3333333333334,
 'nm0950109': 1052.2,
 'nm0650905': 125.42857142857143,
 'nm2158772': 182.75,
 'nm0275629': 1106.6666666666667,
 'nm0720135': 1106.6666666666667,
 'nm1503403': 660.3333333333334,
 'nm2320658': 226.66666666666666,
 'nm0281508': 1039.5,
 'nm0831557': 626.2,
 'nm0500444': 866.0,
 'nm0002044': 589.6,
 'nm0000362': 320.2857142857143,
 'nm0252135': 261.0,
 'nm0774325': 320.25,
 'nm0001490': 549.0,
 'nm0620378': 334.8,
 'nm0661577': 264.3333333333333,
 'nm0797526': 213.66666666666666,
 'nm0322242': 223.75,
 'nm0001361': 468.3333333333333,
 'nm0939992': 1516.7142857142858,
 'nm0784061': 767.0,
 'nm0387706': 779.7142857142857,
 'nm0583292': 880.2,
 'nm0001274': 369.0,
 'nm1490123': 562.2857142857143,
 'nm0380705': 660.25,
 'nm0174374': 349.3333333333333,
 'nm0858525': 334.85714285714283,
 'nm1098493': 862.3333333333334,
 'nm0573796': 333.5,
 'nm0001353': 250.0,
 'nm0000519': 276.125,
 'nm0570912': 861.6666666666666,
 'nm0527109': 154.8,
 'nm0601382': 202.83333333333334,
 'nm0711114': 138.0,
 'nm0582635': 83.25,
 'nm0580729': 169.33333333333334,
 'nm0075859': 1287.3333333333333,
 'nm0723704': 994.75,
 'nm0828245': 1721.0,
 'nm0005436': 443.75,
 'nm0625789': 86.0,
 'nm0205542': 649.3333333333334,
 'nm0337773': 262.625,
 'nm0240797': 552.5,
 'nm1349818': 270.0,
 'nm0715636': 526.0,
 'nm0515891': 176.0,
 'nm0421314': 171.5,
 'nm1989536': 1190.0,
 'nm0037708': 209.6,
 'nm0906476': 315.6,
 'nm1294961': 318.5,
 'nm1294962': 318.5,
 'nm0813164': 244.33333333333334,
 'nm0169806': 76.75,
 'nm0373282': 412.3333333333333,
 'nm0000876': 323.1666666666667,
 'nm1160962': 184.0,
 'nm1413364': 184.0,
 'nm0330140': 160.0,
 'nm0235719': 99.33333333333333,
 'nm0001214': 879.3333333333334,
 'nm0610496': 271.5,
 'nm0000425': 134.28571428571428,
 'nm0242271': 165.66666666666666,
 'nm0741262': 187.5,
 'nm0000570': 596.3846153846154,
 'nm0005348': 346.2857142857143,
 'nm0740400': 126.25,
 'nm0425913': 67.33333333333333,
 'nm0438279': 177.25,
 'nm0115218': 500.3333333333333,
 'nm0167195': 540.3333333333334,
 'nm0000780': 200.5,
 'nm0181741': 222.0,
 'nm0804408': 197.66666666666666,
 'nm0001754': 495.8,
 'nm0434571': 53.333333333333336,
 'nm0639033': 126.66666666666667,
 'nm0167241': 270.2,
 'nm0671210': 438.75,
 'nm0462895': 460.4,
 'nm0000691': 161.63636363636363,
 'nm0000914': 228.14285714285714,
 'nm0112218': 235.66666666666666,
 'nm1837748': 88.0,
 'nm0001631': 122.0,
 'nm0276062': 502.0,
 'nm0418659': 177.75,
 'nm0254178': 368.0,
 'nm0517597': 287.8,
 'nm0587955': 1049.75,
 'nm0161834': 323.3333333333333,
 'nm0796923': 944.75,
 'nm1104118': 313.2857142857143,
 'nm1400426': 39.0,
 'nm0467225': 113.0,
 'nm0081540': 129.0,
 'nm1259871': 187.66666666666666,
 'nm0000806': 179.4,
 'nm0541149': 69.0,
 'nm1000159': 86.75,

In [20]:
director_df[director_df['item'] == 1237]

   item   director
0  1237  nm0000005

In [21]:
director_df['director_inter'] = director_df['director'].map(director_dict)

In [22]:
director_df

        item   director  director_inter
0       1237  nm0000005      318.000000
1       5147  nm0000005      318.000000
2       7327  nm0000005      318.000000
3       2068  nm0000005      318.000000
4       7396  nm0000005      318.000000
...      ...        ...             ...
1299   73681  nm0000000      230.992337
1300   32728  nm0000000      230.992337
1301   32743  nm0000000      230.992337
1302  106491  nm0000000      230.992337
1303    8191  nm0000000      230.992337

[7209 rows x 3 columns]

In [23]:
director_df[director_df['item']==1]

      item   director  director_inter
2374     1  nm0005124     7436.166667

In [24]:
df = director_df.groupby('item')['director_inter'].max() # 한 아이템당 여러 감독이 참여했을 때, 감독들의 평균(interaction/movie_cnt) 평점중 가장 큰 수

In [25]:
df

item
1         7436.166667
2         1105.000000
3          373.250000
4           67.000000
5          349.800000
             ...
118700     230.992337
118900     316.000000
118997     774.166667
119141     316.000000
119145    1856.500000
Name: director_inter, Length: 6807, dtype: float64

In [26]:
director_df = director_df.merge(df, how='left', on='item')
director_df

        item   director  director_inter_x  director_inter_y
0       1237  nm0000005        318.000000        318.000000
1       5147  nm0000005        318.000000        318.000000
2       7327  nm0000005        318.000000        318.000000
3       2068  nm0000005        318.000000        318.000000
4       7396  nm0000005        318.000000        318.000000
...      ...        ...               ...               ...
7204   73681  nm0000000        230.992337        230.992337
7205   32728  nm0000000        230.992337        230.992337
7206   32743  nm0000000        230.992337        230.992337
7207  106491  nm0000000        230.992337        230.992337
7208    8191  nm0000000        230.992337        230.992337

[7209 rows x 4 columns]

In [27]:
#결과 이해용
director_df[director_df['item']==25764] #한 영화에 2명의 감독 기여한 case 확인

       item   director  director_inter_x  director_inter_y
65    25764  nm0000036        218.111111        218.111111
4995  25764  nm0781292        123.000000        218.111111

In [28]:
director_df['director_info'] = director_df['director_inter_y']

In [29]:
director_df.drop_duplicates(
        subset=["item"], keep="first", inplace=True)

In [30]:
director_df

        item   director  director_inter_x  director_inter_y  director_info
0       1237  nm0000005        318.000000        318.000000     318.000000
1       5147  nm0000005        318.000000        318.000000     318.000000
2       7327  nm0000005        318.000000        318.000000     318.000000
3       2068  nm0000005        318.000000        318.000000     318.000000
4       7396  nm0000005        318.000000        318.000000     318.000000
...      ...        ...               ...               ...            ...
7204   73681  nm0000000        230.992337        230.992337     230.992337
7205   32728  nm0000000        230.992337        230.992337     230.992337
7206   32743  nm0000000        230.992337        230.992337     230.992337
7207  106491  nm0000000        230.992337        230.992337     230.992337
7208    8191  nm0000000        230.992337        230.992337     230.992337

[6807 rows x 5 columns]

In [33]:
director_df[['item','director_info']].to_csv(
    "director_inter_cnt.csv", index=False
)

In [32]:
director_df[['item','director_info']]

        item  director_info
0       1237     318.000000
1       5147     318.000000
2       7327     318.000000
3       2068     318.000000
4       7396     318.000000
...      ...            ...
7204   73681     230.992337
7205   32728     230.992337
7206   32743     230.992337
7207  106491     230.992337
7208    8191     230.992337

[6807 rows x 2 columns]