In [91]:
import torch
import pandas as pd
import numpy as np
# pip install transformers
from transformers import BertTokenizer, BertModel
# 만약 주피터 노트북에서 아래와 관계있는 에러가 발생한다면
# pip install ipywidgets

In [92]:
main_df = pd.read_csv('/opt/ml/input/data/train/train_ratings.csv') # user-item-time
director_df = pd.read_csv('/opt/ml/input/data/train/directors.tsv', sep='\t') # item-director

# 한 아이템별 여러 감독일 때 하나의 string으로 붙이기

In [93]:
no_dir_item_list = list(set(main_df['item']) - set(director_df['item']))
no_dir_item_df = pd.DataFrame([x for x in zip(no_dir_item_list, ['nm0000000']*len(no_dir_item_list))])
no_dir_item_df.columns=director_df.columns # 컬럼명 동일하게
director_df = pd.concat([director_df, no_dir_item_df]) # 기존 director_df 뒤에 감독없는 영화 추가
director_df

        item   director
0       1237  nm0000005
1       5147  nm0000005
2       7327  nm0000005
3       2068  nm0000005
4       7396  nm0000005
...      ...        ...
1299   73681  nm0000000
1300   32728  nm0000000
1301   32743  nm0000000
1302  106491  nm0000000
1303    8191  nm0000000

[7209 rows x 2 columns]

In [94]:
item_list = director_df['item'].unique()

In [ ]:
# director_df['item'].value_counts()

50912    14
1282     10
27002     8
7502      7
71823     7
         ..
4404      1
8125      1
1348      1
7366      1
8191      1
Name: item, Length: 6807, dtype: int64

In [ ]:
# tmp = director_df[director_df['item']==50912]['director'].value_counts().index

In [ ]:
# " ".join(tmp)

'nm0000127 nm0000801 nm0001053 nm0001054 nm0001814 nm0149446 nm0158984 nm0170043 nm0190859 nm0481418 nm0622112 nm0668247 nm0758574 nm0878756'

In [14]:
result = []
for item in item_list:
    tmp = director_df[director_df['item']==item]['director'].value_counts().index
    s = " ".join(tmp)
    result.append((item, s))

item_direct_df = pd.DataFrame(result)

In [15]:
item_direct_df.columns = ['item','director_str']

In [22]:
item_direct_df.to_csv("item_direct_str.csv", index=False)

In [21]:
item_direct_df[item_direct_df['item']==50912]

      item                                       director_str
239  50912  nm0000127 nm0000801 nm0001053 nm0001054 nm0001...

In [95]:
item_direct_df

        item director_str
0       1237    nm0000005
1       5147    nm0000005
2       7327    nm0000005
3       2068    nm0000005
4       7396    nm0000005
...      ...          ...
6802   73681    nm0000000
6803   32728    nm0000000
6804   32743    nm0000000
6805  106491    nm0000000
6806    8191    nm0000000

[6807 rows x 2 columns]