In [1]:
import torch
import pandas as pd
import numpy as np
# pip install transformers
from transformers import BertTokenizer, BertModel
# 만약 주피터 노트북에서 아래와 관계있는 에러가 발생한다면
# pip install ipywidgets

In [2]:
main_df = pd.read_csv('/opt/ml/input/data/train/train_ratings.csv') # user-item-time
title_df = pd.read_csv('/opt/ml/input/data/train/titles.tsv', sep='\t') # item-title
year_df = pd.read_csv('/opt/ml/input/data/train/years.tsv', sep='\t') # item-year
director_df = pd.read_csv('/opt/ml/input/data/train/directors.tsv', sep='\t') # item-director
genre_name_df = pd.read_csv('/opt/ml/input/data/train/genres.tsv', sep='\t') # item-genre(name)
writer_df = pd.read_csv('/opt/ml/input/data/train/writers.tsv', sep='\t') # item-writer

In [3]:
# genres_df 생성
genres_df = pd.read_csv("/opt/ml/input/data/train/genres.tsv", sep="\t")
array, index = pd.factorize(genres_df["genre"])
genres_df["genre"] = array # item-genre(number)

# Genre Embedding

한 영화에 여러개의 장르가 있다.  
장르는 각각의 성질을 가지고 있다고 가정하고 (ex: "액션"과 "범죄"의 거리는 "액션"과 "드라마"의 거리보다 가깝다)  
각 단어들을 임베딩하여 숫자로 표현한다.
이때 각 단어는 크기가 약 760인 벡터로 임베딩 되는데 이 760개의 성분의 평균을 <U>**장르의 임베딩값**</U>으로 설정했다

여러 장르를 동시에 갖는 영화는 해당 장르들의 임베딩 값의 평균으로 설정하였다

In [4]:
# Load the BERT model and tokenizer
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

genre_vectors = {} # 각 장르의 임베딩 dict

# Tokenize a genre
for i,j in enumerate(genre_name_df['genre'].unique()):
    input_ids = torch.tensor(tokenizer.encode(f"{j}")).unsqueeze(0)  # Tokenize a genre
    output = model(input_ids)[0]  # Extract the hidden states of the model at the last layer, The last layer hidden states
    token_embedding = output[0][0]  # Extract the first token's embedding
    np_token_embedding = token_embedding.detach().numpy() # convert to numpy
    v = np_token_embedding.mean()
    genre_vectors[i] = v


ref_genre_dict = {} # 각 영화가 어떤 장르를 가지고 있는지 나타내는 dict
for i, j in list(zip(genres_df['item'], genres_df['genre'])):
    try:
        ref_genre_dict[i].append(j)
    except KeyError:
        ref_genre_dict[i] = [j]


genre_df_dict = {} # 각 영화의 장르 통합 임베딩 dict
for i, j in list(zip(ref_genre_dict.keys(), ref_genre_dict.values())):
    genre_df_dict[i] = 0
    for k in j:
        genre_df_dict[i] += genre_vectors[k]
    genre_df_dict[i] = (genre_df_dict[i])/len(j)

# 데이터 프레임에 적용
ref_df = main_df.copy()
ref_df['item_2'] = ref_df['item']
ref_df.item_2 = ref_df.item_2.map(genre_df_dict)
ref_df = ref_df.rename(columns={'item_2':'genre_embedding'})
ref_df

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.decoder.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

           user   item        time  genre_embedding
0            11   4643  1230782529        -0.009958
1            11    170  1230782534        -0.010141
2            11    531  1230782539        -0.010972
3            11    616  1230782542        -0.010493
4            11   2140  1230782563        -0.010183
...         ...    ...         ...              ...
5154466  138493  44022  1260209449        -0.010516
5154467  138493   4958  1260209482        -0.010298
5154468  138493  68319  1260209720        -0.009911
5154469  138493  40819  1260209726        -0.010697
5154470  138493  27311  1260209807        -0.009940

[5154471 rows x 4 columns]

아래는 모든 피쳐를 한곳에 모은 데이터 프레임이다

In [5]:
ref_df = pd.merge(ref_df, year_df, on='item', how='left')
ref_df = pd.merge(ref_df, title_df, on='item', how='left')

# 제목의 연도로 연도 결측치 제거
import re
ref_df['year_from_title'] = ref_df['title'].apply(lambda x : (x[-5:-1]))
# 007-을 2007로 변경
ref_df.loc[ref_df['year_from_title']=='007-','year_from_title'] = 2007
# year가 결측치인 곳에 삽입
ref_df.loc[ref_df['year'].isnull(),'year'] = ref_df.loc[ref_df['year'].isnull(),'year_from_title'].astype('float')

ref_df

,user,item,time,genre_embedding,year,title,year_from_title
0,11,4643,1230782529,-0.009958,2001.0,Planet of the Apes (2001),2001
1,11,170,1230782534,-0.010141,1995.0,Hackers (1995),1995
2,11,531,1230782539,-0.010972,1993.0,"Secret Garden, The (1993)",1993
3,11,616,1230782542,-0.010493,1970.0,"Aristocats, The (1970)",1970
4,11,2140,1230782563,-0.010183,1982.0,"Dark Crystal, The (1982)",1982
...,...,...,...,...,...,...,...
5154466,138493,44022,1260209449,-0.010516,2006.0,Ice Age 2: The Meltdown (2006),2006
5154467,138493,4958,1260209482,-0.010298,2001.0,Behind Enemy Lines (2001),2001
5154468,138493,68319,1260209720,-0.009911,2009.0,X-Men Origins: Wolverine (2009),2009
5154469,138493,40819,1260209726,-0.010697,2005.0,Walk the Line (2005),2005
5154470,138493,27311,1260209807,-0.009940,2000.0,Batman Beyond: Return of the Joker (2000),2000

In [6]:
ref_df.isna().sum()

user               0
item               0
time               0
genre_embedding    0
year               0
title              0
year_from_title    0
dtype: int64

director와 writer의 결측치는 각각 약 1/7 수준이라 통합데이터에 노이즈를 우려하여 합치지 않았다

- writer  
6807개의 영화 중 5648개만 작가 정보가 있다  
결측치 1159

- director  
6807개의 영화 중 5503개만 감독 정보가 있다  
결측치 1304