## make inter file

In [29]:
import torch
import pandas as pd
import numpy as np
import os
# 만약 주피터 노트북에서 아래와 관계있는 에러가 발생한다면
# pip install ipywidgets

# FFM_0.0999

In [47]:
train_data = pd.read_csv('/opt/ml/input/data/train/train_ratings.csv') # user-item-time
user_data = pd.read_csv('/opt/ml/input/fighting/FE/user/user_director3_fe.csv') # user-director1-director2-director3
item_data = pd.read_csv('/opt/ml/input/fighting/FE/director/director_str.csv') # item-director_oneline

In [ ]:
# user, item indexing

In [48]:
user2idx = {v:k for k,v in enumerate(sorted(set(train_data.user)))}
item2idx = {v:k for k,v in enumerate(sorted(set(train_data.item)))}
uidx2user = {k:v for k,v in enumerate(sorted(set(train_data.user)))}
iidx2item = {k:v for k,v in enumerate(sorted(set(train_data.item)))}

In [49]:
train_data.user = train_data.user.map(user2idx)
train_data.item = train_data.item.map(item2idx)
user_data.user = user_data.user.map(user2idx)
item_data.item = item_data.item.map(item2idx)

In [ ]:
# 컬럼명 바꾸기

In [50]:
train_data.columns=['user_id:token', 'item_id:token', 'timestamp:float']
user_data.columns=['user_id:token', 'director1:token', 'director2:token', 'director3:token']
item_data.columns=['item_id:token', 'director_str:token_seq']

In [51]:
train_data.shape, user_data.shape, item_data.shape

((5154471, 3), (31360, 4), (6807, 2))

In [52]:
train_data[:2]

   user_id:token  item_id:token  timestamp:float
0              0           2505       1230782529
1              0            109       1230782534

In [53]:
user_data[:2]

   user_id:token director1:token director2:token director3:token
0              0       nm0000229       nm0000318       nm0000709
1              1       nm0000229       nm0000709       nm0414144

In [56]:
item_data[:2]

   item_id:token director_str:token_seq
0            685              nm0000005
1           2750              nm0000005

In [ ]:
# 내보내기

In [57]:
outpath = f"dataset/train_data"
os.makedirs(outpath, exist_ok=True)
# sub_train=train.groupby("user").sample(n=10, random_state=SEED)
# sub_train.shape
train_data.to_csv(os.path.join(outpath,"train_data.inter"),sep='\t',index=False)
user_data.to_csv(os.path.join(outpath,"train_data.user"),sep='\t',index=False)
item_data.to_csv(os.path.join(outpath,"train_data.item"),sep='\t',index=False)

# FE 결과파일

In [79]:
train_data = pd.read_csv('/opt/ml/input/data/train/train_ratings.csv') # user-item-time
user_data = pd.read_csv('/opt/ml/input/fighting/FE/user/user_director3_fe.csv') # user-director1-director2-director3
item_data = pd.read_csv('/opt/ml/input/fighting/FE/director/director_str.csv') # item-director_oneline

In [80]:
year_df = pd.read_csv("/opt/ml/input/fighting/FE/year/year_missingno.csv")
genre_df = pd.read_csv("/opt/ml/input/fighting/FE/genre/genre_bert_fe.csv")
director_inter_cnt = pd.read_csv("/opt/ml/input/fighting/FE/director/director_inter_cnt.csv")
writer_inter_cnt = pd.read_csv("/opt/ml/input/fighting/FE/writer/writer_inter_cnt.csv")
item_interaction = pd.read_csv("/opt/ml/input/fighting/FE/item/item_interaction_cnt.csv")
item_popular_dir_max_sum_cnt = pd.read_csv("/opt/ml/input/fighting/FE/director/item_popular_dir_max_sum_cnt.csv")
item_popular_wri_max_sum_cnt = pd.read_csv("/opt/ml/input/fighting/FE/writer/item_popular_wri_max_sum_cnt.csv")
user_seen_item_statistic = pd.read_csv("/opt/ml/input/fighting/FE/user/user_seen_item_statistic.csv")

In [65]:
# user_data

In [66]:
# item_data

In [81]:
user_data = user_data.merge(user_seen_item_statistic, how='left', on='user')
item_data = item_data.merge(year_df, how='left', on='item')
item_data = item_data.merge(genre_df, how='left', on='item')
item_data = item_data.merge(director_inter_cnt, how='left', on='item')
item_data = item_data.merge(writer_inter_cnt, how='left', on='item')
item_data = item_data.merge(item_interaction, how='left', on='item')
item_data = item_data.merge(item_popular_dir_max_sum_cnt, how='left', on='item')
item_data = item_data.merge(item_popular_wri_max_sum_cnt, how='left', on='item')

In [82]:
user_data

,user,director1,director2,director3,seen_item_inter_mean,seen_item_inter_std
0,11,nm0000229,nm0000318,nm0000709,3719.351064,4316.497874
1,14,nm0000229,nm0000709,nm0414144,3073.027778,3768.996954
2,18,nm0000264,nm0001466,nm0600546,3769.766234,4812.976459
3,25,nm0000229,nm0000116,nm0000416,7721.142857,4926.058635
4,31,nm0001392,nm0893659,nm0946734,3304.058442,4207.146662
...,...,...,...,...,...,...
31355,138473,nm0594503,nm0000233,nm0000318,7041.571429,5419.559584
31356,138475,nm0000033,nm0001328,nm0000485,1339.217742,2048.243886
31357,138486,nm0000709,nm0001681,nm0000229,4972.875912,4182.405810
31358,138492,nm0001054,nm0001554,nm0001661,5347.294118,4487.995092
31359,138493,nm0000229,nm0000318,nm0001149,3701.936306,4167.737972

In [83]:
item_data

,item,director_str,year,genre_embedding,director_info,writer_info,item_cnt,dir_max_cnt,dir_sum_cnt,wri_max_cnt,wri_sum_cnt
0,1237,nm0000005,1957.0,-0.010508,318.000000,316.842105,1383,1383,6360,1383,6020
1,5147,nm0000005,1957.0,-0.010508,318.000000,316.842105,949,1383,6360,1383,6020
2,7327,nm0000005,1966.0,-0.010508,318.000000,316.842105,751,1383,6360,1383,6020
3,2068,nm0000005,1982.0,-0.010365,318.000000,316.842105,502,1383,6360,1383,6020
4,7396,nm0000005,1973.0,-0.010508,318.000000,316.842105,335,1383,6360,1383,6020
...,...,...,...,...,...,...,...,...,...,...,...
6802,73681,nm0000000,2009.0,-0.010281,230.992337,3172.857143,58,58,58,3734,4683
6803,32728,nm0000000,1976.0,-0.010344,230.992337,269.562069,50,50,50,50,50
6804,32743,nm0000000,2000.0,-0.010353,230.992337,2189.000000,48,48,48,3326,5213
6805,106491,nm0000000,2013.0,-0.010352,230.992337,998.125000,74,74,74,2087,2899
6806,8191,nm0000000,1969.0,-0.010508,230.992337,4221.444444,145,145,145,4065,8840

In [ ]:
# user, item indexing

In [84]:
user2idx = {v:k for k,v in enumerate(sorted(set(train_data.user)))}
item2idx = {v:k for k,v in enumerate(sorted(set(train_data.item)))}
uidx2user = {k:v for k,v in enumerate(sorted(set(train_data.user)))}
iidx2item = {k:v for k,v in enumerate(sorted(set(train_data.item)))}

In [85]:
train_data.user = train_data.user.map(user2idx)
train_data.item = train_data.item.map(item2idx)
user_data.user = user_data.user.map(user2idx)
item_data.item = item_data.item.map(item2idx)

In [ ]:
# 컬럼명 바꾸기

In [86]:
user_data.columns

Index(['user', 'director1', 'director2', 'director3', 'seen_item_inter_mean',
       'seen_item_inter_std'],
      dtype='object')

In [87]:
user_data.columns = ['user_id:token', 'director1:token', 'director2:token', 'director3:token', 'seen_item_inter_mean:float', 'seen_item_inter_std:float']

In [88]:
item_data.columns

Index(['item', 'director_str', 'year', 'genre_embedding', 'director_info',
       'writer_info', 'item_cnt', 'dir_max_cnt', 'dir_sum_cnt', 'wri_max_cnt',
       'wri_sum_cnt'],
      dtype='object')

In [89]:
item_data.columns = ['item_id:token', 'director_str:token_seq', 'year:token', 'genre_embedding:float',' director_info:float','writer_info:float','item_cnt:float','dir_max_cnt:float','dir_sum_cnt:float','wri_max_cnt:float','wri_sum_cnt:float']

In [90]:
item_data.columns

Index(['item_id:token', 'director_str:token_seq', 'year:token',
       'genre_embedding:float', ' director_info:float', 'writer_info:float',
       'item_cnt:float', 'dir_max_cnt:float', 'dir_sum_cnt:float',
       'wri_max_cnt:float', 'wri_sum_cnt:float'],
      dtype='object')

In [ ]:
# 내보내기

In [91]:
outpath = f"dataset/train_data/FE"
os.makedirs(outpath, exist_ok=True)
# sub_train=train.groupby("user").sample(n=10, random_state=SEED)
# sub_train.shape
train_data.to_csv(os.path.join(outpath,"train_data.inter"),sep='\t',index=False)
user_data.to_csv(os.path.join(outpath,"train_data.user"),sep='\t',index=False)
item_data.to_csv(os.path.join(outpath,"train_data.item"),sep='\t',index=False)