In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

import os
import json
import argparse
import pandas as pd
import numpy as np
import time, datetime
from tqdm import tqdm
from logging import getLogger
import torch

from recbole.model.general_recommender.ease import EASE
from recbole.model.context_aware_recommender.ffm import FFM

from recbole.config import Config
from recbole.data import create_dataset, data_preparation, Interaction
from recbole.utils import init_logger, get_trainer, get_model, init_seed, set_color


SEED=13

In [2]:
!ls ../../data/train
!readlink -ef ../../data/train/train_ratings.csv

Ml_item2attributes.json  genres.tsv  titles.tsv		writers.tsv
directors.tsv		 pro_sg      train_ratings.csv	years.tsv
/opt/ml/input/data/train/train_ratings.csv

## 데이터 로드

In [3]:
train = pd.read_csv("/opt/ml/input/data/train/train_ratings.csv")

In [4]:
user2idx = {v:k for k,v in enumerate(sorted(set(train.user)))}
item2idx = {v:k for k,v in enumerate(sorted(set(train.item)))}
uidx2user = {k:v for k,v in enumerate(sorted(set(train.user)))}
iidx2item = {k:v for k,v in enumerate(sorted(set(train.item)))}

## make inter file

In [5]:
train.user = train.user.map(user2idx)
train.item = train.item.map(item2idx)

In [6]:
train.columns=['user_id:token','item_id:token','timestamp:float']

In [7]:
train[:2]

   user_id:token  item_id:token  timestamp:float
0              0           2505       1230782529
1              0            109       1230782534

In [8]:
outpath = f"dataset/train_data"
os.makedirs(outpath, exist_ok=True)
# sub_train=train.groupby("user").sample(n=10, random_state=SEED)
# sub_train.shape
train.to_csv(os.path.join(outpath,"train_data.inter"),sep='\t',index=False)

In [9]:
train.shape

(5154471, 3)

## make yaml file

In [10]:
yamldata="""
USER_ID_FIELD: user_id
ITEM_ID_FIELD: item_id
TIME_FIELD: timestamp

load_col:
    inter: [user_id, item_id, timestamp]
"""
with open("ease.yaml", "w") as f:
    f.write(yamldata)

121

## make config, logger

In [11]:
logger = getLogger()

# configurations initialization
config = Config(model='EASE', dataset="train_data", config_file_list=[f'ease.yaml'])
# config['epochs'] = 100
config['show_progress'] = False
config['device'] = torch.device("cuda" if torch.cuda.is_available() else "cpu")
config['valid_metric'] = "Recall@10"
config['eval_args'] = {'split': {'RS': [1, 0, 0]},
                         'group_by': 'user',
                         'order': 'RO',
                         'mode': 'full'}
config['topk']=[20]
init_seed(config['seed'], config['reproducibility'])
# logger initialization
init_logger(config)
logger.info(config)

28 Dec 07:12    INFO
General Hyper Parameters:
gpu_id = 0
use_gpu = True
seed = 2020
state = INFO
reproducibility = True
data_path = dataset/train_data
checkpoint_dir = saved
show_progress = False
save_dataset = False
dataset_save_path = None
save_dataloaders = False
dataloaders_save_path = None
log_wandb = False

Training Hyper Parameters:
epochs = 300
train_batch_size = 2048
learner = adam
learning_rate = 0.001
train_neg_sample_args = {'distribution': 'uniform', 'sample_num': 1, 'alpha': 1.0, 'dynamic': False, 'candidate_num': 0}
eval_step = 1
stopping_step = 10
clip_grad_norm = None
weight_decay = 0.0
loss_decimal_place = 4

Evaluation Hyper Parameters:
eval_args = {'split': {'RS': [1, 0, 0]}, 'group_by': 'user', 'order': 'RO', 'mode': 'full'}
repeatable = False
metrics = ['Recall', 'MRR', 'NDCG', 'Hit', 'Precision']
topk = [20]
valid_metric = Recall@10
valid_metric_bigger = True
eval_batch_size = 4096
metric_decimal_place = 4

Dataset Hyper Parameters:
field_separator =
seq_separator =
USER_ID_FIELD = user_id
ITEM_ID_FIELD = item_id
RATING_FIELD = rating
TIME_FIELD = timestamp
seq_len = None
LABEL_FIELD = label
threshold = None
NEG_PREFIX = neg_
load_col = {'inter': ['user_id', 'item_id', 'timestamp']}
unload_col = None
unused_col = None
additional_feat_suffix = None
rm_dup_inter = None
val_interval = None
filter_inter_by_user_or_item = True
user_inter_num_interval = [0,inf)
item_inter_num_interval = [0,inf)
alias_of_user_id = None
alias_of_item_id = None
alias_of_entity_id = None
alias_of_relation_id = None
preload_weight = None
normalize_field = None
normalize_all = None
ITEM_LIST_LENGTH_FIELD = item_length
LIST_SUFFIX = _list
MAX_ITEM_LIST_LENGTH = 50
POSITION_FIELD = position_id
HEAD_ENTITY_ID_FIELD = head_id
TAIL_ENTITY_ID_FIELD = tail_id
RELATION_ID_FIELD = relation_id
ENTITY_ID_FIELD = entity_id
benchmark_filename = None

Other Hyper Parameters:
worker = 0
wandb_project = recbole
shuffle = True
require_pow = False
enable_amp = False
enable_scaler = False
transform = None
reg_weight = 250.0
numerical_features = []
discretization = None
kg_reverse_r = False
entity_kg_num_interval = [0,inf)
relation_kg_num_interval = [0,inf)
MODEL_TYPE = ModelType.TRADITIONAL
MODEL_INPUT_TYPE = InputType.POINTWISE
eval_type = EvaluatorType.RANKING
single_spec = True
local_rank = 0
device = cuda
eval_neg_sample_args = {'distribution': 'uniform', 'sample_num': 'none'}

## make dataset

In [12]:
# dataset filtering
dataset = create_dataset(config)
logger.info(dataset)

# dataset splitting
train_data, valid_data, test_data = data_preparation(config, dataset)

28 Dec 07:13    INFO  train_data
The number of users: 31361
Average actions of users: 164.36450892857144
The number of items: 6808
Average actions of items: 757.2309387395328
The number of inters: 5154471
The sparsity of the dataset: 97.58579218741939%
Remain Fields: ['user_id', 'item_id', 'timestamp']
28 Dec 07:13    INFO  [Training]: train_batch_size = [2048] train_neg_sample_args: [{'distribution': 'uniform', 'sample_num': 1, 'alpha': 1.0, 'dynamic': False, 'candidate_num': 0}]
28 Dec 07:13    INFO  [Evaluation]: eval_batch_size = [4096] eval_args: [{'split': {'RS': [1, 0, 0]}, 'group_by': 'user', 'order': 'RO', 'mode': 'full'}]

In [13]:
train_data.dataset
valid_data.dataset
test_data.dataset

train_data
The number of users: 31361
Average actions of users: 164.36450892857144
The number of items: 6808
Average actions of items: 757.2309387395328
The number of inters: 5154471
The sparsity of the dataset: 97.58579218741939%
Remain Fields: ['user_id', 'item_id', 'timestamp', 'label']

/opt/conda/lib/python3.8/site-packages/numpy/core/fromnumeric.py:3432: RuntimeWarning: Mean of empty slice.
  return _methods._mean(a, axis=axis, dtype=dtype,
/opt/conda/lib/python3.8/site-packages/numpy/core/_methods.py:190: RuntimeWarning: invalid value encountered in double_scalars
  ret = ret.dtype.type(ret / rcount)

train_data
The number of users: 31361
Average actions of users: nan
The number of items: 6808
Average actions of items: nan
The number of inters: 0
The sparsity of the dataset: 100.0%
Remain Fields: ['user_id', 'item_id', 'timestamp', 'label']

train_data
The number of users: 31361
Average actions of users: nan
The number of items: 6808
Average actions of items: nan
The number of inters: 0
The sparsity of the dataset: 100.0%
Remain Fields: ['user_id', 'item_id', 'timestamp', 'label']

## make model

In [14]:
# model loading and initialization
init_seed(config['seed'], config['reproducibility'])
model = EASE(config, train_data.dataset).to(config['device'])
logger.info(model)

28 Dec 07:13    INFO  EASE()
Trainable parameters: 1

## train

In [21]:
# trainer loading and initialization
trainer = get_trainer(config['MODEL_TYPE'], config['model'])(config, model)

# model training
best_valid_score, best_valid_result = trainer.fit(
    train_data, valid_data, saved=True, show_progress=config['show_progress']
)

23 Dec 15:55    INFO  epoch 0 training [time: 12.03s, train loss: 0.0000]
23 Dec 15:55    INFO  Saving current: saved/EASE-Dec-23-2022_15-54-55.pth

In [253]:
# trainer loading and initialization
trainer = get_trainer(config['MODEL_TYPE'], config['model'])(config, model)

# model training
best_valid_score, best_valid_result = trainer.fit(
    train_data, valid_data, saved=True, show_progress=config['show_progress']
)

21 Dec 16:29    INFO  epoch 0 training [time: 14.01s, train loss: 0.0000]
21 Dec 16:29    INFO  Saving current: saved/EASE-Dec-21-2022_16-28-47.pth

In [22]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="last"

## inference

In [21]:
model_path='./baseline/EASE-Dec-21-2022_15-02-10.pth'
# rank K 설정
K = 300

300

In [23]:
# config, model, dataset 불러오기
checkpoint = torch.load(model_path)
config = checkpoint['config']
config['dataset'] = 'train_data'

dataset = create_dataset(config)
train_data, valid_data, test_data = data_preparation(config, dataset)

model = get_model(config['model'])(config, test_data.dataset).to(config['device'])
model.load_state_dict(checkpoint['state_dict'])
model.load_other_parameter(checkpoint.get('other_parameter'))

# device 설정
device = config.final_config_dict['device']

# user, item id -> token 변환 array
user_id = config['USER_ID_FIELD']
item_id = config['ITEM_ID_FIELD']
user_id2token = dataset.field2id_token[user_id]
item_id2token = dataset.field2id_token[item_id]

# user id list
all_user_list = torch.arange(1, len(user_id2token)).view(-1,128) # 245, 128

# user, item 길이
user_len = len(user_id2token) # 31361 (PAD 포함)
item_len = len(item_id2token) # 6808 (PAD 포함)

# user-item sparse matrix
matrix = dataset.inter_matrix(form='csr') # (31361, 6808)

# user id, predict item id 저장 변수
pred_list = None
user_list = None

# model 평가모드 전환
model.eval()

# progress bar 설정
tbar = tqdm(all_user_list, desc=set_color(f"Inference", 'pink')) # 245, 128

for data in tbar: # data: 128, 
    # interaction 생성
    interaction = dict()
    interaction = Interaction(interaction)
    interaction[user_id] = data
    interaction = interaction.to(device)

    # user item별 score 예측
    score = model.full_sort_predict(interaction) # [1, 871424]
    score = score.view(-1, item_len) # 128, 6808

    rating_pred = score.cpu().data.numpy().copy() # 128, 6808

    user_index = data.numpy() # 128,

    # idx에는 128명의 영화상호작용이 True, False로 있다.
    idx = matrix[user_index].toarray() > 0 # idx shape: 128, 6808

    rating_pred[idx] = -np.inf # idx에서 True부분이 -inf로 변경
    rating_pred[:, 0] = -np.inf # 첫번째 PAD 열도 -inf로 변경
    
    # np.argpartition(배열, -K) : 배열에서 순서 상관없이 큰 값 K개를 뽑아 오른쪽에 놓겠다 -> 인덱스반환
    # rating_pred에서 각 행마다 K개의 score가 큰 인덱스를 오른쪽에 두고, 그 K개만 가져오기
    ind = np.argpartition(rating_pred, -K)[:, -K:] # rating_pred: (128, 6808) -> ind: (128, 20)

    user_row_index = np.arange(len(rating_pred)).reshape(-1,1) # [[0],[1],...,[127]]
    arr_ind = rating_pred[user_row_index, ind] # 128, 6808 -> 128, 20

    # arr_ind 내부에서 행별로, 내림차순 정렬해서 index 나오도록
    arr_ind_argsort = np.argsort(arr_ind)[np.arange(len(rating_pred)), ::-1]

    # ind는 item의 real index를 갖는 128,20 -> arr_ind_argsort를 통해 pred가 높은 상위 20개 read index 추출
    batch_pred_list = ind[user_row_index, arr_ind_argsort] # 128,20 -> 128,20

    if pred_list is None: # 처음에는 직접 정의
        pred_list = batch_pred_list
        user_list = user_index
    else: # pred_list가 있을 때는, append
        pred_list = np.append(pred_list, batch_pred_list, axis=0)
        user_list = np.append(
            user_list, user_index, axis=0
        )

result = []
for user, pred in zip(user_list, pred_list):
    for item in pred:
        result.append((int(user_id2token[user]), int(item_id2token[item])))

# 데이터 저장
sub = pd.DataFrame(result, columns=["user", "item"])
sub.to_csv(
    "submission.csv", index=False
)
print('inference done!')

28 Dec 07:19    INFO  [Training]: train_batch_size = [2048] train_neg_sample_args: [{'distribution': 'uniform', 'sample_num': 1, 'alpha': 1.0, 'dynamic': False, 'candidate_num': 0}]
28 Dec 07:19    INFO  [Evaluation]: eval_batch_size = [4096] eval_args: [{'split': {'RS': [1, 0, 0]}, 'group_by': 'user', 'order': 'RO', 'mode': 'full'}]

EASE()

Inference:   0%|          | 0/245 [00:00<?, ?it/s]:   0%|          | 1/245 [00:00<00:33,  7.38it/s]:   1%|          | 2/245 [00:00<00:34,  6.97it/s]:   1%|          | 3/245 [00:00<00:34,  6.92it/s]:   2%|▏         | 4/245 [00:00<00:35,  6.80it/s]:   2%|▏         | 5/245 [00:00<00:36,  6.49it/s]:   2%|▏         | 6/245 [00:00<00:37,  6.33it/s]:   3%|▎         | 7/245 [00:01<00:37,  6.30it/s]:   3%|▎         | 8/245 [00:01<00:37,  6.27it/s]:   4%|▎         | 9/245 [00:01<00:37,  6.30it/s]:   4%|▍         | 10/245 [00:01<00:37,  6.34it/s]:   4%|▍         | 11/245 [00:01<00:35,  6.60it/s]:   5%|▍         | 12/245 [00:01<00:33,  6.94it/s]:   5%|▌         | 13/245 [00:01<00:33,  7.01it/s]:   6%|▌         | 14/245 [00:02<00:33,  6.83it/s]:   6%|▌         | 15/245 [00:02<00:34,  6.60it/s]:   7%|▋         | 16/245 [00:02<00:34,  6.73it/s]:   7%|▋         | 17/245 [00:02<00:33,  6.86it/s]:   7%|▋         | 18/245 [00:02<00:33,  6.70it/s]:   8%|▊         | 19/245 [00:02<00:34,  6.53it/s]:   8%|▊         | 20/245 [00:03<00:34,  6.53it/s]:   9%|▊         | 21/245 [00:03<00:34,  6.46it/s]:   9%|▉         | 22/245 [00:03<00:34,  6.42it/s]:   9%|▉         | 23/245 [00:03<00:33,  6.62it/s]:  10%|▉         | 24/245 [00:03<00:33,  6.56it/s]:  10%|█         | 25/245 [00:03<00:33,  6.57it/s]:  11%|█         | 26/245 [00:03<00:33,  6.48it/s]:  11%|█         | 27/245 [00:04<00:33,  6.59it/s]:  11%|█▏        | 28/245 [00:04<00:34,  6.33it/s]:  12%|█▏        | 29/245 [00:04<00:33,  6.43it/s]:  12%|█▏        | 30/245 [00:04<00:33,  6.49it/s]:  13%|█▎        | 31/245 [00:04<00:32,  6.50it/s]:  13%|█▎        | 32/245 [00:04<00:32,  6.59it/s]:  13%|█▎        | 33/245 [00:05<00:32,  6.48it/s]:  14%|█▍        | 34/245 [00:05<00:32,  6.48it/s]:  14%|█▍        | 35/245 [00:05<00:32,  6.53it/s]:  15%|█▍        | 36/245 [00:05<00:32,  6.34it/s]:  15%|█▌        | 37/245 [00:05<00:32,  6.40it/s]:  16%|█▌        | 38/245 [00:05<00:31,  6.51it/s]:  16%|█▌        | 39/245 [00:05<00:31,  6.60it/s]:  16%|█▋        | 40/245 [00:06<00:31,  6.56it/s]:  17%|█▋        | 41/245 [00:06<00:31,  6.57it/s]:  17%|█▋        | 42/245 [00:06<00:31,  6.38it/s]:  18%|█▊        | 43/245 [00:06<00:31,  6.41it/s]:  18%|█▊        | 44/245 [00:06<00:31,  6.44it/s]:  18%|█▊        | 45/245 [00:06<00:31,  6.44it/s]:  19%|█▉        | 46/245 [00:07<00:31,  6.31it/s]:  19%|█▉        | 47/245 [00:07<00:32,  6.04it/s]:  20%|█▉        | 48/245 [00:07<00:32,  6.12it/s]:  20%|██        | 49/245 [00:07<00:30,  6.35it/s]:  20%|██        | 50/245 [00:07<00:31,  6.27it/s]:  21%|██        | 51/245 [00:07<00:30,  6.38it/s]:  21%|██        | 52/245 [00:08<00:31,  6.21it/s]:  22%|██▏       | 53/245 [00:08<00:30,  6.35it/s]:  22%|██▏       | 54/245 [00:08<00:29,  6.57it/s]:  22%|██▏       | 55/245 [00:08<00:29,  6.45it/s]:  23%|██▎       | 56/245 [00:08<00:29,  6.47it/s]:  23%|██▎       | 57/245 [00:08<00:28,  6.67it/s]:  24%|██▎       | 58/245 [00:08<00:29,  6.38it/s]:  24%|██▍       | 59/245 [00:09<00:29,  6.35it/s]:  24%|██▍       | 60/245 [00:09<00:28,  6.52it/s]:  25%|██▍       | 61/245 [00:09<00:28,  6.46it/s]:  25%|██▌       | 62/245 [00:09<00:29,  6.14it/s]:  26%|██▌       | 63/245 [00:09<00:29,  6.19it/s]:  26%|██▌       | 64/245 [00:09<00:28,  6.31it/s]:  27%|██▋       | 65/245 [00:10<00:28,  6.29it/s]:  27%|██▋       | 66/245 [00:10<00:27,  6.62it/s]:  27%|██▋       | 67/245 [00:10<00:26,  6.63it/s]:  28%|██▊       | 68/245 [00:10<00:26,  6.66it/s]:  28%|██▊       | 69/245 [00:10<00:27,  6.49it/s]:  29%|██▊       | 70/245 [00:10<00:27,  6.48it/s]:  29%|██▉       | 71/245 [00:10<00:25,  6.78it/s]:  29%|██▉       | 72/245 [00:11<00:25,  6.83it/s]:  30%|██▉       | 73/245 [00:11<00:24,  6.97it/s]:  30%|███       | 74/245 [00:11<00:26,  6.51it/s]:  31%|███       | 75/245 [00:11<00:25,  6.59it/s]:  31%|███       | 76/245 [00:11<00:27,  6.23it/s]:  31%|███▏      | 77/245 [00:11<00:26,  6.32it/s]:  32%|███▏      | 78/245 [00:12<00:26,  6.28it/s]:  32%|███▏      | 79/245 [00:12<00:26,  6.35it/s]:  33%|███▎      | 80/245 [00:12<00:26,  6.32it/s]:  33%|███▎      | 81/245 [00:12<00:25,  6.34it/s]:  33%|███▎      | 82/245 [00:12<00:25,  6.52it/s]:  34%|███▍      | 83/245 [00:12<00:25,  6.43it/s]:  34%|███▍      | 84/245 [00:12<00:25,  6.39it/s]:  35%|███▍      | 85/245 [00:13<00:25,  6.29it/s]:  35%|███▌      | 86/245 [00:13<00:25,  6.33it/s]:  36%|███▌      | 87/245 [00:13<00:24,  6.44it/s]:  36%|███▌      | 88/245 [00:13<00:24,  6.43it/s]:  36%|███▋      | 89/245 [00:13<00:24,  6.47it/s]:  37%|███▋      | 90/245 [00:13<00:23,  6.53it/s]:  37%|███▋      | 91/245 [00:14<00:23,  6.54it/s]:  38%|███▊      | 92/245 [00:14<00:23,  6.48it/s]:  38%|███▊      | 93/245 [00:14<00:24,  6.28it/s]:  38%|███▊      | 94/245 [00:14<00:24,  6.15it/s]:  39%|███▉      | 95/245 [00:14<00:23,  6.26it/s]:  39%|███▉      | 96/245 [00:14<00:23,  6.30it/s]:  40%|███▉      | 97/245 [00:15<00:24,  6.04it/s]:  40%|████      | 98/245 [00:15<00:24,  5.99it/s]:  40%|████      | 99/245 [00:15<00:23,  6.23it/s]:  41%|████      | 100/245 [00:15<00:22,  6.50it/s]:  41%|████      | 101/245 [00:15<00:21,  6.55it/s]:  42%|████▏     | 102/245 [00:15<00:22,  6.41it/s]:  42%|████▏     | 103/245 [00:15<00:22,  6.32it/s]:  42%|████▏     | 104/245 [00:16<00:22,  6.37it/s]:  43%|████▎     | 105/245 [00:16<00:22,  6.34it/s]:  43%|████▎     | 106/245 [00:16<00:22,  6.29it/s]:  44%|████▎     | 107/245 [00:16<00:22,  6.15it/s]:  44%|████▍     | 108/245 [00:16<00:21,  6.24it/s]:  44%|████▍     | 109/245 [00:16<00:22,  6.15it/s]:  45%|████▍     | 110/245 [00:17<00:21,  6.22it/s]:  45%|████▌     | 111/245 [00:17<00:21,  6.20it/s]:  46%|████▌     | 112/245 [00:17<00:21,  6.31it/s]:  46%|████▌     | 113/245 [00:17<00:21,  6.15it/s]:  47%|████▋     | 114/245 [00:17<00:20,  6.29it/s]:  47%|████▋     | 115/245 [00:17<00:21,  6.12it/s]:  47%|████▋     | 116/245 [00:18<00:20,  6.25it/s]:  48%|████▊     | 117/245 [00:18<00:20,  6.23it/s]:  48%|████▊     | 118/245 [00:18<00:19,  6.49it/s]:  49%|████▊     | 119/245 [00:18<00:20,  6.07it/s]:  49%|████▉     | 120/245 [00:18<00:20,  6.19it/s]:  49%|████▉     | 121/245 [00:18<00:20,  6.14it/s]:  50%|████▉     | 122/245 [00:19<00:19,  6.30it/s]:  50%|█████     | 123/245 [00:19<00:19,  6.15it/s]:  51%|█████     | 124/245 [00:19<00:19,  6.15it/s]:  51%|█████     | 125/245 [00:19<00:19,  6.06it/s]:  51%|█████▏    | 126/245 [00:19<00:18,  6.32it/s]:  52%|█████▏    | 127/245 [00:19<00:19,  5.94it/s]:  52%|█████▏    | 128/245 [00:20<00:20,  5.81it/s]:  53%|█████▎    | 129/245 [00:20<00:19,  5.95it/s]:  53%|█████▎    | 130/245 [00:20<00:18,  6.21it/s]:  53%|█████▎    | 131/245 [00:20<00:18,  6.14it/s]:  54%|█████▍    | 132/245 [00:20<00:18,  6.12it/s]:  54%|█████▍    | 133/245 [00:20<00:18,  6.14it/s]:  55%|█████▍    | 134/245 [00:20<00:17,  6.29it/s]:  55%|█████▌    | 135/245 [00:21<00:18,  6.04it/s]:  56%|█████▌    | 136/245 [00:21<00:18,  5.90it/s]:  56%|█████▌    | 137/245 [00:21<00:18,  5.76it/s]:  56%|█████▋    | 138/245 [00:21<00:19,  5.58it/s]:  57%|█████▋    | 139/245 [00:21<00:19,  5.57it/s]:  57%|█████▋    | 140/245 [00:22<00:19,  5.41it/s]:  58%|█████▊    | 141/245 [00:22<00:18,  5.56it/s]:  58%|█████▊    | 142/245 [00:22<00:18,  5.61it/s]:  58%|█████▊    | 143/245 [00:22<00:17,  5.67it/s]:  59%|█████▉    | 144/245 [00:22<00:18,  5.50it/s]:  59%|█████▉    | 145/245 [00:22<00:17,  5.60it/s]:  60%|█████▉    | 146/245 [00:23<00:17,  5.72it/s]:  60%|██████    | 147/245 [00:23<00:17,  5.75it/s]:  60%|██████    | 148/245 [00:23<00:16,  5.81it/s]:  61%|██████    | 149/245 [00:23<00:16,  5.84it/s]:  61%|██████    | 150/245 [00:23<00:16,  5.78it/s]:  62%|██████▏   | 151/245 [00:24<00:16,  5.68it/s]:  62%|██████▏   | 152/245 [00:24<00:16,  5.57it/s]:  62%|██████▏   | 153/245 [00:24<00:16,  5.50it/s]:  63%|██████▎   | 154/245 [00:24<00:16,  5.58it/s]:  63%|██████▎   | 155/245 [00:24<00:16,  5.58it/s]:  64%|██████▎   | 156/245 [00:24<00:16,  5.55it/s]:  64%|██████▍   | 157/245 [00:25<00:16,  5.34it/s]:  64%|██████▍   | 158/245 [00:25<00:16,  5.41it/s]:  65%|██████▍   | 159/245 [00:25<00:16,  5.34it/s]:  65%|██████▌   | 160/245 [00:25<00:15,  5.35it/s]:  66%|██████▌   | 161/245 [00:25<00:15,  5.49it/s]:  66%|██████▌   | 162/245 [00:26<00:15,  5.49it/s]:  67%|██████▋   | 163/245 [00:26<00:14,  5.53it/s]:  67%|██████▋   | 164/245 [00:26<00:14,  5.65it/s]:  67%|██████▋   | 165/245 [00:26<00:14,  5.42it/s]:  68%|██████▊   | 166/245 [00:26<00:14,  5.55it/s]:  68%|██████▊   | 167/245 [00:26<00:14,  5.49it/s]:  69%|██████▊   | 168/245 [00:27<00:13,  5.53it/s]:  69%|██████▉   | 169/245 [00:27<00:13,  5.63it/s]:  69%|██████▉   | 170/245 [00:27<00:13,  5.54it/s]:  70%|██████▉   | 171/245 [00:27<00:13,  5.66it/s]:  70%|███████   | 172/245 [00:27<00:13,  5.54it/s]:  71%|███████   | 173/245 [00:28<00:13,  5.40it/s]:  71%|███████   | 174/245 [00:30<01:00,  1.16it/s]:  71%|███████▏  | 175/245 [00:30<00:46,  1.52it/s]:  72%|███████▏  | 176/245 [00:30<00:35,  1.97it/s]:  72%|███████▏  | 177/245 [00:30<00:27,  2.48it/s]:  73%|███████▎  | 178/245 [00:31<00:22,  3.02it/s]:  73%|███████▎  | 179/245 [00:31<00:18,  3.49it/s]:  73%|███████▎  | 180/245 [00:31<00:16,  4.01it/s]:  74%|███████▍  | 181/245 [00:31<00:14,  4.45it/s]:  74%|███████▍  | 182/245 [00:31<00:13,  4.80it/s]:  75%|███████▍  | 183/245 [00:31<00:12,  5.17it/s]:  75%|███████▌  | 184/245 [00:32<00:11,  5.31it/s]:  76%|███████▌  | 185/245 [00:32<00:10,  5.58it/s]:  76%|███████▌  | 186/245 [00:32<00:10,  5.71it/s]:  76%|███████▋  | 187/245 [00:32<00:09,  5.91it/s]:  77%|███████▋  | 188/245 [00:32<00:09,  5.92it/s]:  77%|███████▋  | 189/245 [00:32<00:09,  5.99it/s]:  78%|███████▊  | 190/245 [00:33<00:08,  6.12it/s]:  78%|███████▊  | 191/245 [00:33<00:08,  6.12it/s]:  78%|███████▊  | 192/245 [00:33<00:08,  6.31it/s]:  79%|███████▉  | 193/245 [00:33<00:08,  6.20it/s]:  79%|███████▉  | 194/245 [00:33<00:08,  6.25it/s]:  80%|███████▉  | 195/245 [00:33<00:08,  6.25it/s]:  80%|████████  | 196/245 [00:34<00:07,  6.26it/s]:  80%|████████  | 197/245 [00:34<00:07,  6.13it/s]:  81%|████████  | 198/245 [00:34<00:07,  6.19it/s]:  81%|████████  | 199/245 [00:34<00:07,  6.17it/s]:  82%|████████▏ | 200/245 [00:34<00:07,  6.19it/s]:  82%|████████▏ | 201/245 [00:34<00:07,  6.03it/s]:  82%|████████▏ | 202/245 [00:35<00:07,  6.14it/s]:  83%|████████▎ | 203/245 [00:35<00:06,  6.03it/s]:  83%|████████▎ | 204/245 [00:35<00:07,  5.74it/s]:  84%|████████▎ | 205/245 [00:35<00:07,  5.69it/s]:  84%|████████▍ | 206/245 [00:35<00:06,  5.93it/s]:  84%|████████▍ | 207/245 [00:35<00:06,  5.75it/s]:  85%|████████▍ | 208/245 [00:36<00:06,  5.97it/s]:  85%|████████▌ | 209/245 [00:36<00:06,  5.92it/s]:  86%|████████▌ | 210/245 [00:36<00:05,  6.23it/s]:  86%|████████▌ | 211/245 [00:36<00:05,  6.31it/s]:  87%|████████▋ | 212/245 [00:36<00:05,  6.02it/s]:  87%|████████▋ | 213/245 [00:36<00:05,  6.30it/s]:  87%|████████▋ | 214/245 [00:37<00:04,  6.41it/s]:  88%|████████▊ | 215/245 [00:37<00:04,  6.10it/s]:  88%|████████▊ | 216/245 [00:37<00:04,  6.32it/s]:  89%|████████▊ | 217/245 [00:37<00:04,  6.18it/s]:  89%|████████▉ | 218/245 [00:37<00:04,  6.09it/s]:  89%|████████▉ | 219/245 [00:37<00:04,  6.09it/s]:  90%|████████▉ | 220/245 [00:38<00:03,  6.36it/s]:  90%|█████████ | 221/245 [00:38<00:03,  6.35it/s]:  91%|█████████ | 222/245 [00:38<00:03,  6.35it/s]:  91%|█████████ | 223/245 [00:38<00:03,  6.40it/s]:  91%|█████████▏| 224/245 [00:38<00:03,  6.14it/s]:  92%|█████████▏| 225/245 [00:38<00:03,  6.34it/s]:  92%|█████████▏| 226/245 [00:38<00:03,  6.30it/s]:  93%|█████████▎| 227/245 [00:39<00:02,  6.33it/s]:  93%|█████████▎| 228/245 [00:39<00:02,  6.19it/s]:  93%|█████████▎| 229/245 [00:39<00:02,  6.21it/s]:  94%|█████████▍| 230/245 [00:39<00:02,  6.22it/s]:  94%|█████████▍| 231/245 [00:39<00:02,  6.22it/s]:  95%|█████████▍| 232/245 [00:39<00:02,  5.91it/s]:  95%|█████████▌| 233/245 [00:40<00:02,  5.83it/s]:  96%|█████████▌| 234/245 [00:40<00:01,  5.94it/s]:  96%|█████████▌| 235/245 [00:40<00:01,  5.99it/s]:  96%|█████████▋| 236/245 [00:40<00:01,  6.15it/s]:  97%|█████████▋| 237/245 [00:40<00:01,  6.20it/s]:  97%|█████████▋| 238/245 [00:40<00:01,  6.27it/s]:  98%|█████████▊| 239/245 [00:41<00:00,  6.14it/s]:  98%|█████████▊| 240/245 [00:41<00:00,  5.96it/s]:  98%|█████████▊| 241/245 [00:41<00:00,  6.03it/s]:  99%|█████████▉| 242/245 [00:41<00:00,  6.06it/s]:  99%|█████████▉| 243/245 [00:41<00:00,  5.98it/s]: 100%|█████████▉| 244/245 [00:41<00:00,  5.83it/s]: 100%|██████████| 245/245 [00:42<00:00,  5.81it/s]: 100%|██████████| 245/245 [00:42<00:00,  5.81it/s]

inference done!

## 제출파일 생성

In [24]:
sub

          user  item
0            0  2381
1            0  2619
2            0    41
3            0  4581
4            0  4790
...        ...   ...
9407995  31359   651
9407996  31359  1797
9407997  31359  4524
9407998  31359  2687
9407999  31359  3253

[9408000 rows x 2 columns]

In [25]:
sub.user = sub.user.map(uidx2user)
sub.item = sub.item.map(iidx2item)

In [26]:
sub.to_csv('EASE_best.csv',index=False)

In [27]:
sub

           user   item
0            11   4370
1            11   4886
2            11     47
3            11  32587
4            11  40815
...         ...    ...
9407995  138493   1201
9407996  138493   3213
9407997  138493  31685
9407998  138493   5014
9407999  138493   6537

[9408000 rows x 2 columns]

In [137]:
sub.user = sub.user.map(user2idx)
sub.item = sub.item.map(item2idx)

In [144]:
train.columns=['user','item','time']
train[:3]

   user  item        time
0     0  2505  1230782529
1     0   109  1230782534
2     0   319  1230782539

In [138]:
afterdf = sub.merge(train[['user','item','time']], on=['user','item'], how='left')

In [139]:
afterdf[afterdf['timestamp:float'].notna()]

Empty DataFrame
Columns: [user, item, timestamp:float]
Index: []

## full_sort_topk

In [172]:
!ls -alh dataset/sequential_data/

total 1.3M
drwxr-xr-x 2 root root 4.0K Dec 22 21:53 .
drwxr-xr-x 5 root root 4.0K Dec 23 00:19 ..
-rw-r--r-- 1 root root 1.3M Dec 22 22:01 sequential_data.inter

In [182]:
config['eval_args'] = {'split': {'RS': [1, 0, 99]},
                         'group_by': 'user',
                         'order': 'RO',
                         'mode': 'full'}

In [183]:
dataset = create_dataset(config)
train_data, valid_data, test_data = data_preparation(config, dataset)

In [184]:
test_data.dataset

train_data
The number of users: 31361
Average actions of users: 162.26514668367346
The number of items: 6808
Average actions of items: 747.5591303070369
The number of inters: 5088635
The sparsity of the dataset: 97.61662789986185%
Remain Fields: ['user_id', 'item_id', 'timestamp', 'label']

In [192]:
pred_list2 = None
user_list2 = []
from recbole.utils.case_study import full_sort_topk
for data in tbar:
    batch_pred_list2 = full_sort_topk(data, model, test_data, 10, device=device)[1]
    batch_pred_list2 = batch_pred_list2.clone().detach().cpu().numpy()
    if pred_list2 is None:
        pred_list2 = batch_pred_list2
        user_list2 = data.numpy()
    else:
        pred_list2 = np.append(pred_list2, batch_pred_list2, axis=0)
        user_list2 = np.append(
            user_list2, data.numpy(), axis=0
        )
tbar.close()

In [194]:
# user별 item 추천 결과 하나로 합쳐주기
result2 = []
for user, pred in zip(user_list2, pred_list2):
    for item in pred:
        result2.append((int(user_id2token[user]), int(item_id2token[item])))

In [217]:
sub2 = pd.DataFrame(result2, columns=["user", "item"])

In [218]:
sub2.user = sub2.user.map(uidx2user)
sub2.item = sub2.item.map(iidx2item)

In [219]:
sub2

          user   item
0           11    780
1           11    480
2           11   1270
3           11   1214
4           11  34048
...        ...    ...
313595  138493   4306
313596  138493   5218
313597  138493   7361
313598  138493   4973
313599  138493   1210

[313600 rows x 2 columns]

In [220]:
sub2.item[0] in train[train.user==11].item

False

In [223]:
for uid in sorted(set(sub2.user)):
    sub2[(sub2.user==uid) & sub2.item.isin(train[train.user==uid].item)]
    break

   user   item
0    11    780
1    11    480
2    11   1270
3    11   1214
4    11  34048
5    11   8644
6    11      1
7    11    367
8    11   6502
9    11   5349

## 시간 순서 잘 지켜졌는지 확인해보기

In [146]:
train.user = train.user.map(uidx2user)
train.item = train.item.map(iidx2item)

In [150]:
import time
from time import localtime

In [160]:
data_path = '../../data/train'
year_data = pd.read_csv(os.path.join(data_path, 'years.tsv'), sep='\t')
writer_data = pd.read_csv(os.path.join(data_path, 'writers.tsv'), sep='\t')
title_data = pd.read_csv(os.path.join(data_path, 'titles.tsv'), sep='\t')
genre_data = pd.read_csv(os.path.join(data_path, 'genres.tsv'), sep='\t')
director_data = pd.read_csv(os.path.join(data_path, 'directors.tsv'), sep='\t')

### train에 review_year, month, day, year_month 추가

In [153]:
train['review_year'] = train['time'].apply(lambda x : localtime(x).tm_year)

In [155]:
train['month'] = train['time'].apply(lambda x : localtime(x).tm_mon)

In [156]:
train['day'] = train['time'].apply(lambda x : localtime(x).tm_mday)

In [166]:
train['year_month'] = train['time'].apply(lambda x : time.strftime('%Y-%m',localtime(x)))

In [168]:
train.sort_values(['user','time'],inplace=True)

In [172]:
user2lastyear = dict(train.groupby('user').year.max())

In [173]:
user2lastyearmonth = dict(train.groupby('user').year_month.max())

In [174]:
train['lastyear']=train.user.map(user2lastyear)
train['last_yearmonth']=train.user.map(user2lastyearmonth)

In [176]:
train

,user,item,time,year,month,day,year_month,lastyear,last_yearmonth
0,11,4643,1230782529,2009,1,1,2009-01,2011,2011-01
1,11,170,1230782534,2009,1,1,2009-01,2011,2011-01
2,11,531,1230782539,2009,1,1,2009-01,2011,2011-01
3,11,616,1230782542,2009,1,1,2009-01,2011,2011-01
4,11,2140,1230782563,2009,1,1,2009-01,2011,2011-01
...,...,...,...,...,...,...,...,...,...
5154466,138493,44022,1260209449,2009,12,7,2009-12,2009,2009-12
5154467,138493,4958,1260209482,2009,12,7,2009-12,2009,2009-12
5154468,138493,68319,1260209720,2009,12,7,2009-12,2009,2009-12
5154469,138493,40819,1260209726,2009,12,7,2009-12,2009,2009-12
5154470,138493,27311,1260209807,2009,12,7,2009-12,2009,2009-12

### year 채워넣기

In [186]:
merge_df = train.copy()
side_info = [title_data,year_data]
for side in side_info:
    merge_df = merge_df.merge(side,how = 'left',on='item')
merge_df.head()

,user,item,time,review_year,month,day,year_month,lastyear,last_yearmonth,title,year
0,11,4643,1230782529,2009,1,1,2009-01,2011,2011-01,Planet of the Apes (2001),2001.0
1,11,170,1230782534,2009,1,1,2009-01,2011,2011-01,Hackers (1995),1995.0
2,11,531,1230782539,2009,1,1,2009-01,2011,2011-01,"Secret Garden, The (1993)",1993.0
3,11,616,1230782542,2009,1,1,2009-01,2011,2011-01,"Aristocats, The (1970)",1970.0
4,11,2140,1230782563,2009,1,1,2009-01,2011,2011-01,"Dark Crystal, The (1982)",1982.0

In [190]:
merge_df['year_from_title'] = merge_df['title'].apply(lambda x : (x[-5:-1]))

In [191]:
merge_df.loc[merge_df['year_from_title']=='007-','year_from_title'] = 2007

In [194]:
merge_df.year_from_title=merge_df.year_from_title.astype(int)

In [196]:
cond = merge_df.year_from_title == merge_df.year

In [217]:
merge_df[~cond & merge_df.year.notna()].title.value_counts()

Fawlty Towers (1975-1979)    163
Name: title, dtype: int64

In [221]:
merge_df.year = merge_df.year.fillna(merge_df.year_from_title)

In [227]:
merge_df.year = merge_df.year.astype(int)

In [246]:
merge_df[merge_df.lastyear < merge_df.year]

,user,item,time,review_year,month,day,year_month,lastyear,last_yearmonth,title,year,year_from_title
3064009,81663,91535,1323223207,2011,12,7,2011-12,2011,2011-12,"Bourne Legacy, The (2012)",2012,2012
4617327,123609,89745,1316645274,2011,9,21,2011-09,2011,2011-09,"Avengers, The (2012)",2012,2012

In [236]:
## item별 year이 모두 동일한지 첫번째값과 평균값이 같은 아이템들 확인 -> 모두 일치
sum(merge_df.groupby('item').year.first() == merge_df.groupby('item').year.mean())

6807

In [239]:
item2year = dict(merge_df.groupby('item').year.first())

## sub 보기

In [262]:
sub.user = sub.user.map(uidx2user)
sub.item = sub.item.map(iidx2item)

In [263]:
sub['lastyear']=sub.user.map(user2lastyear)
sub['last_yearmonth']=sub.user.map(user2lastyearmonth)
sub['m_year'] = sub.item.map(item2year)

In [265]:
sub

          user   item  lastyear last_yearmonth  m_year
0           11   4370      2011        2011-01    2001
1           11   4886      2011        2011-01    2001
2           11     47      2011        2011-01    1995
3           11  32587      2011        2011-01    2005
4           11  40815      2011        2011-01    2005
...        ...    ...       ...            ...     ...
627195  138493   4720      2009        2009-12    2001
627196  138493    293      2009        2009-12    1994
627197  138493   2174      2009        2009-12    1988
627198  138493   4848      2009        2009-12    2001
627199  138493   4963      2009        2009-12    2001

[627200 rows x 5 columns]

In [268]:
sub2 = sub[sub.lastyear >= sub.m_year]

In [276]:
df = pd.read_csv('EASE_1_0.csv')

In [282]:
df['item2']= sub2.groupby('user').item.head(10).reset_index(drop=True)

### 이전 제출(1594)대비 현재 제출(1595)에서 달라진 부분 보기

In [324]:
## 이전 제출(1594)대비 현재 제출(1595)에서 달라진 부분 보기
idx_list=[]
user_item2 = dict(df.groupby('user').item2.apply(list))
for i in tqdm(df.itertuples(), total=df.shape[0]):
    if i.item not in user_item2[i.user]:
        idx_list.append(i.Index)

100%|██████████████████████████████████████████████████| 313600/313600 [00:00<00:00, 562116.84it/s]

In [329]:
df['lastyear']=df.user.map(user2lastyear)
df['last_yearmonth']=df.user.map(user2lastyearmonth)
df['m_year'] = df.item.map(item2year)

In [330]:
df.iloc[idx_list,:]

          user   item  item2  lastyear last_yearmonth  m_year
109         61  58559  48780      2007        2007-12    2008
1559       664  63436   8528      2007        2007-11    2008
2144       915  54286   4027      2006        2006-08    2007
3504      1539  79132   3949      2009        2009-07    2010
5019      2160  58559    111      2007        2007-01    2008
...        ...    ...    ...       ...            ...     ...
300758  132448  69844   2542      2007        2007-10    2009
307115  135535  58559    318      2005        2005-12    2008
307702  135798  88125   6539      2010        2010-12    2011
311225  137460  58559    745      2007        2007-09    2008
312617  138094  79132   4973      2009        2009-10    2010

[213 rows x 6 columns]

## 최종 제출 -> 1595

In [288]:
df[['user','item2']].rename(columns={'item2':'item'}).to_csv("EASE_1_0_Top20_remove_review_after_movie.csv",index=False)