In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

import os
import json
import argparse
import pandas as pd
import numpy as np
import time, datetime
from tqdm import tqdm
from logging import getLogger
import torch

from recbole.model.general_recommender.ease import EASE
from recbole.model.context_aware_recommender.ffm import FFM

from recbole.config import Config
from recbole.data import create_dataset, data_preparation, Interaction
from recbole.utils import init_logger, get_trainer, get_model, init_seed, set_color


SEED=13

train = pd.read_csv("/opt/ml/input/data/train/train_ratings.csv")

user2idx = {v:k for k,v in enumerate(sorted(set(train.user)))}
item2idx = {v:k for k,v in enumerate(sorted(set(train.item)))}
uidx2user = {k:v for k,v in enumerate(sorted(set(train.user)))}
iidx2item = {k:v for k,v in enumerate(sorted(set(train.item)))}

In [2]:
df1 = pd.read_csv('EASE_1_0_Top20_remove_review_after_movie.csv')

In [10]:
sub = pd.read_csv('baseline/submission/EASE-Dec-21-2022_15-02-10.csv')

In [12]:
sub = sub.merge(train,on=['user','item'],how='left')

In [15]:
sub = sub[sub.time.isna()]

In [16]:
sub.shape[0]+10515

313600

In [6]:
train.merge(df2,on=['user','item'])

         user   item        time
0          14   4306  1225311315
1          18   7034  1196423419
2          31   6365  1424734544
3          72   1136  1199066312
4         116   1291  1132761789
...       ...    ...         ...
10510  138443   5952  1231034827
10511  138461   1198  1180759990
10512  138472  33794  1194039500
10513  138473   2329  1274234457
10514  138475   4426  1126812543

[10515 rows x 3 columns]

In [7]:
train.merge(df1,on=['user','item'])

Empty DataFrame
Columns: [user, item, time]
Index: []

In [4]:
df2

          user   item
0           11   4370
1           11   4886
2           11     47
3           11  32587
4           11  40815
...        ...    ...
313595  138493   8961
313596  138493   5349
313597  138493   4022
313598  138493  32587
313599  138493  53125

[313600 rows x 2 columns]