In [2]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

import os
import json
import argparse
import pandas as pd
import numpy as np
import time, datetime
from tqdm import tqdm
from logging import getLogger
import torch

from recbole.model.general_recommender.ease import EASE
from recbole.model.context_aware_recommender.ffm import FFM

from recbole.config import Config
from recbole.data import create_dataset, data_preparation, Interaction
from recbole.utils import init_logger, get_trainer, get_model, init_seed, set_color


SEED=13

In [3]:
!ls ../../data/train
!readlink -ef ../../data/train/train_ratings.csv

Ml_item2attributes.json  genres.tsv  titles.tsv		writers.tsv
directors.tsv		 pro_sg      train_ratings.csv	years.tsv
/opt/ml/input/data/train/train_ratings.csv

## 데이터 로드

In [5]:
!pwd

/opt/ml/input/fighting/Recbole

In [8]:
data_path = '../../data/train'
train = pd.read_csv(os.path.join(data_path, 'train_ratings.csv')) # 전체 학습 데이터
year_data = pd.read_csv(os.path.join(data_path, 'years.tsv'), sep='\t')
writer_data = pd.read_csv(os.path.join(data_path, 'writers.tsv'), sep='\t')
title_data = pd.read_csv(os.path.join(data_path, 'titles.tsv'), sep='\t')
genre_data = pd.read_csv(os.path.join(data_path, 'genres.tsv'), sep='\t')
director_data = pd.read_csv(os.path.join(data_path, 'directors.tsv'), sep='\t')

In [9]:
user2idx = {v:k for k,v in enumerate(sorted(set(train.user)))}
item2idx = {v:k for k,v in enumerate(sorted(set(train.item)))}
uidx2user = {k:v for k,v in enumerate(sorted(set(train.user)))}
iidx2item = {k:v for k,v in enumerate(sorted(set(train.item)))}

## make inter file

In [10]:
train

           user   item        time
0            11   4643  1230782529
1            11    170  1230782534
2            11    531  1230782539
3            11    616  1230782542
4            11   2140  1230782563
...         ...    ...         ...
5154466  138493  44022  1260209449
5154467  138493   4958  1260209482
5154468  138493  68319  1260209720
5154469  138493  40819  1260209726
5154470  138493  27311  1260209807

[5154471 rows x 3 columns]

In [78]:
train.user = train.user.map(user2idx)
train.item = train.item.map(item2idx)

In [79]:
train.columns=['user_id:token','item_id:token','timestamp:float']

In [80]:
outpath = f"dataset/train_data"
os.makedirs(outpath, exist_ok=True)
# sub_train=train.groupby("user").sample(n=10, random_state=SEED)
# sub_train.shape
train.to_csv(os.path.join(outpath,"train_data.inter"),sep='\t',index=False)

In [83]:
user = train[['user_id:token']]
user.user = user['user_id:token'].map(user2idx)
#중복 처리
user.drop_duplicates(
        # subset=["userID", "assessmentItemID"], 
        keep="last", inplace=True)

/tmp/ipykernel_15637/3159987671.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  user.user = user['user_id:token'].map(user2idx)
/tmp/ipykernel_15637/3159987671.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user.drop_duplicates(

In [69]:
# user.columns=['user_id:token']

In [84]:
user['tmp:token'] = 1

/tmp/ipykernel_15637/3194365416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  user['tmp:token'] = 1

In [72]:
user.head(3)

     user_id:token  tmp:token
375             11          1
555             14          1
632             18          1

In [73]:
outpath = f"dataset/train_data"
os.makedirs(outpath, exist_ok=True)
# sub_train=train.groupby("user").sample(n=10, random_state=SEED)
# sub_train.shape
user.to_csv(os.path.join(outpath,"train_data.user"),sep='\t',index=False)

In [86]:
item = year_data.merge(writer_data, how='left')
item = item.merge(title_data, how='left')
item = item.merge(genre_data, how='left')
item = item.merge(director_data, how='left')
item['item'] = item['item'].map(item2idx)

In [87]:
item.columns=['item_id:token','year:token','write:token_seq','title:token_seq','genre:token','director:token']

In [88]:
print(item.shape)
item.head(3)

(37634, 6)

,item_id:token,year:token,write:token_seq,title:token_seq,genre:token,director:token
0,768,1922,nm0831290,"Nosferatu (Nosferatu, eine Symphonie des Graue...",Horror,nm0003638
1,4897,1922,NaN,Nanook of the North (1922),Documentary,NaN
2,4897,1922,NaN,Nanook of the North (1922),Drama,NaN

In [89]:
item = item.dropna()
print(item.shape)
item.head(3)

(32210, 6)

,item_id:token,year:token,write:token_seq,title:token_seq,genre:token,director:token
0,768,1922,nm0831290,"Nosferatu (Nosferatu, eine Symphonie des Graue...",Horror,nm0003638
3,2562,1922,nm0000485,"Dr. Mabuse: The Gambler (Dr. Mabuse, der Spiel...",Crime,nm0000485
4,2562,1922,nm0000485,"Dr. Mabuse: The Gambler (Dr. Mabuse, der Spiel...",Mystery,nm0000485

In [90]:
outpath = f"dataset/train_data"
os.makedirs(outpath, exist_ok=True)
# sub_train=train.groupby("user").sample(n=10, random_state=SEED)
# sub_train.shape
item.to_csv(os.path.join(outpath,"train_data.item"),sep='\t',index=False)

## make yaml file

In [95]:
yamldata="""
USER_ID_FIELD: user_id
ITEM_ID_FIELD: item_id
TIME_FIELD: timestamp

load_col:
    inter: [user_id, item_id, timestamp]
    user: [user_id]
    item: [item_id, year, write, title, genre, director]
    
train_neg_sample_args:
    uniform: 1
"""
with open("train_data.yaml", "w") as f:
    f.write(yamldata)

241

## make config, logger

In [98]:
logger = getLogger()

# configurations initialization
config = Config(model='FFM', dataset="train_data", config_file_list=[f'train_data.yaml'])
config['epochs'] = 100
config['show_progress'] = False
config['device'] = torch.device("cuda" if torch.cuda.is_available() else "cpu")
config['valid_metric'] = "Recall@10"
config['eval_args'] = {'split': {'RS': [9, 0.5, 0.5]},
                         'group_by': 'user',
                         'order': 'RO',
                         'mode': 'full'}
config['topk']=[20]
init_seed(config['seed'], config['reproducibility'])
# logger initialization
init_logger(config)
logger.info(config)

22 Dec 07:34    INFO
General Hyper Parameters:
gpu_id = 0
use_gpu = True
seed = 2020
state = INFO
reproducibility = True
data_path = dataset/train_data
checkpoint_dir = saved
show_progress = False
save_dataset = False
dataset_save_path = None
save_dataloaders = False
dataloaders_save_path = None
log_wandb = False

Training Hyper Parameters:
epochs = 100
train_batch_size = 2048
learner = adam
learning_rate = 0.001
train_neg_sample_args = {'uniform': 1, 'distribution': 'uniform', 'sample_num': 1, 'alpha': 1.0, 'dynamic': False, 'candidate_num': 0}
eval_step = 1
stopping_step = 10
clip_grad_norm = None
weight_decay = 0.0
loss_decimal_place = 4

Evaluation Hyper Parameters:
eval_args = {'split': {'RS': [9, 0.5, 0.5]}, 'group_by': 'user', 'order': 'RO', 'mode': 'full'}
repeatable = False
metrics = ['AUC', 'LogLoss']
topk = [20]
valid_metric = Recall@10
valid_metric_bigger = True
eval_batch_size = 4096
metric_decimal_place = 4

Dataset Hyper Parameters:
field_separator =
seq_separator =
USER_ID_FIELD = user_id
ITEM_ID_FIELD = item_id
RATING_FIELD = rating
TIME_FIELD = timestamp
seq_len = None
LABEL_FIELD = label
threshold = None
NEG_PREFIX = neg_
load_col = {'inter': ['user_id', 'item_id', 'timestamp'], 'user': ['user_id'], 'item': ['item_id', 'year', 'write', 'title', 'genre', 'director']}
unload_col = None
unused_col = None
additional_feat_suffix = None
rm_dup_inter = None
val_interval = None
filter_inter_by_user_or_item = True
user_inter_num_interval = [0,inf)
item_inter_num_interval = [0,inf)
alias_of_user_id = None
alias_of_item_id = None
alias_of_entity_id = None
alias_of_relation_id = None
preload_weight = None
normalize_field = None
normalize_all = None
ITEM_LIST_LENGTH_FIELD = item_length
LIST_SUFFIX = _list
MAX_ITEM_LIST_LENGTH = 50
POSITION_FIELD = position_id
HEAD_ENTITY_ID_FIELD = head_id
TAIL_ENTITY_ID_FIELD = tail_id
RELATION_ID_FIELD = relation_id
ENTITY_ID_FIELD = entity_id
benchmark_filename = None

Other Hyper Parameters:
worker = 0
wandb_project = recbole
shuffle = True
require_pow = False
enable_amp = False
enable_scaler = False
transform = None
embedding_size = 10
fields = None
numerical_features = []
discretization = None
kg_reverse_r = False
entity_kg_num_interval = [0,inf)
relation_kg_num_interval = [0,inf)
MODEL_TYPE = ModelType.CONTEXT
MODEL_INPUT_TYPE = InputType.POINTWISE
eval_type = EvaluatorType.VALUE
single_spec = True
local_rank = 0
device = cuda
eval_neg_sample_args = {'distribution': 'none', 'sample_num': 'none'}

## make dataset

In [99]:
dataset

train_data
The number of users: 31361
Average actions of users: 150.1978542566532
The number of items: 4968
Average actions of items: 217.02637406885444
The number of inters: 1077970
The sparsity of the dataset: 99.30811297722984%
Remain Fields: ['user_id', 'item_id', 'timestamp', 'tmp', 'year', 'write', 'title', 'genre', 'director', 'label']

In [100]:
# dataset filtering
dataset = create_dataset(config)
logger.info(dataset)

# dataset splitting
train_data, valid_data, test_data = data_preparation(config, dataset)

22 Dec 07:35    INFO  train_data
The number of users: 31361
Average actions of users: 150.1978542566532
The number of items: 4968
Average actions of items: 217.02637406885444
The number of inters: 1077970
The sparsity of the dataset: 99.30811297722984%
Remain Fields: ['user_id', 'item_id', 'timestamp', 'year', 'write', 'title', 'genre', 'director']

AttributeError: 'NoneType' object has no attribute 'used_ids'

In [ ]:
train_data.dataset
valid_data.dataset
test_data.dataset

## make model

In [ ]:
# model loading and initialization
init_seed(config['seed'], config['reproducibility'])
model = FFM(config, train_data.dataset).to(config['device'])
logger.info(model)

## train

In [ ]:
# trainer loading and initialization
trainer = get_trainer(config['MODEL_TYPE'], config['model'])(config, model)

# model training
best_valid_score, best_valid_result = trainer.fit(
    train_data, valid_data, saved=True, verbose=1, show_progress=config['show_progress']
)

### before train

In [ ]:
# trainer loading and initialization
trainer = get_trainer(config['MODEL_TYPE'], config['model'])(config, model)

# model training
best_valid_score, best_valid_result = trainer.fit(
    train_data, valid_data, saved=True, verbose=1, show_progress=config['show_progress']
)

In [ ]:
# trainer loading and initialization
trainer = get_trainer(config['MODEL_TYPE'], config['model'])(config, model)

# model training
best_valid_score, best_valid_result = trainer.fit(
    train_data, valid_data, saved=True, verbose=1, show_progress=config['show_progress']
)

In [18]:
# trainer loading and initialization
trainer = get_trainer(config['MODEL_TYPE'], config['model'])(config, model)

# model training
best_valid_score, best_valid_result = trainer.fit(
    train_data, valid_data, saved=True, verbose=1, show_progress=config['show_progress']
)

22 Dec 02:15    INFO  epoch 0 training [time: 11.61s, train loss: 0.0000]
22 Dec 02:15    INFO  Saving current: saved/EASE-Dec-22-2022_02-14-52.pth

In [ ]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="last"

## inference

In [22]:
model_path='saved/EASE-Dec-22-2022_02-14-52.pth'
# rank K 설정
K = 20

In [33]:
# config, model, dataset 불러오기
checkpoint = torch.load(model_path)
config = checkpoint['config']
config['dataset'] = 'train_data'

dataset = create_dataset(config)
train_data, valid_data, test_data = data_preparation(config, dataset)

model = get_model(config['model'])(config, test_data.dataset).to(config['device'])
model.load_state_dict(checkpoint['state_dict'])
model.load_other_parameter(checkpoint.get('other_parameter'))

# device 설정
device = config.final_config_dict['device']

# user, item id -> token 변환 array
user_id = config['USER_ID_FIELD']
item_id = config['ITEM_ID_FIELD']
user_id2token = dataset.field2id_token[user_id]
item_id2token = dataset.field2id_token[item_id]

# user id list
all_user_list = torch.arange(1, len(user_id2token)).view(-1,128)

# user, item 길이
user_len = len(user_id2token)
item_len = len(item_id2token)

# user-item sparse matrix
matrix = dataset.inter_matrix(form='csr')

# user id, predict item id 저장 변수
pred_list = None
user_list = None

# model 평가모드 전환
model.eval()

# progress bar 설정
tbar = tqdm(all_user_list, desc=set_color(f"Inference", 'pink'))

for data in tbar:
    # interaction 생성
    interaction = dict()
    interaction = Interaction(interaction)
    interaction[user_id] = data
    interaction = interaction.to(device)

    # user item별 score 예측
    score = model.full_sort_predict(interaction)
    score = score.view(-1, item_len)

    rating_pred = score.cpu().data.numpy().copy()

    user_index = data.numpy()

    idx = matrix[user_index].toarray() > 0

    rating_pred[idx] = -np.inf
    rating_pred[:, 0] = -np.inf
    ind = np.argpartition(rating_pred, -K)[:, -K:]

    arr_ind = rating_pred[np.arange(len(rating_pred))[:, None], ind]

    arr_ind_argsort = np.argsort(arr_ind)[np.arange(len(rating_pred)), ::-1]

    batch_pred_list = ind[
        np.arange(len(rating_pred))[:, None], arr_ind_argsort
    ]

    if pred_list is None:
        pred_list = batch_pred_list
        user_list = user_index
    else:
        pred_list = np.append(pred_list, batch_pred_list, axis=0)
        user_list = np.append(
            user_list, user_index, axis=0
        )

result = []
for user, pred in zip(user_list, pred_list):
    for item in pred:
        result.append((int(user_id2token[user]), int(item_id2token[item])))

# 데이터 저장
sub = pd.DataFrame(result, columns=["user", "item"])
sub.to_csv(
    "submission.csv", index=False
)
print('inference done!')

22 Dec 02:23    INFO  [Training]: train_batch_size = [2048] train_neg_sample_args: [{'distribution': 'uniform', 'sample_num': 1, 'alpha': 1.0, 'dynamic': False, 'candidate_num': 0}]
22 Dec 02:23    INFO  [Evaluation]: eval_batch_size = [4096] eval_args: [{'split': {'RS': [1, 0, 0]}, 'group_by': 'user', 'order': 'RO', 'mode': 'full'}]
Inference:   0%|          | 0/245 [00:00<?, ?it/s]:   0%|          | 1/245 [00:00<00:50,  4.86it/s]:   1%|          | 2/245 [00:00<00:47,  5.17it/s]:   1%|          | 3/245 [00:00<00:43,  5.56it/s]:   2%|▏         | 4/245 [00:00<00:41,  5.80it/s]:   2%|▏         | 5/245 [00:00<00:41,  5.80it/s]:   2%|▏         | 6/245 [00:01<00:40,  5.85it/s]:   3%|▎         | 7/245 [00:01<00:39,  5.98it/s]:   3%|▎         | 8/245 [00:01<00:39,  6.06it/s]:   4%|▎         | 9/245 [00:01<00:38,  6.16it/s]:   4%|▍         | 10/245 [00:01<00:37,  6.26it/s]:   4%|▍         | 11/245 [00:01<00:35,  6.59it/s]:   5%|▍         | 12/245 [00:01<00:33,  6.96it/s]:   5%|▌         | 13/245 [00:02<00:32,  7.05it/s]:   6%|▌         | 14/245 [00:02<00:33,  6.91it/s]:   6%|▌         | 15/245 [00:02<00:34,  6.71it/s]:   7%|▋         | 16/245 [00:02<00:33,  6.86it/s]:   7%|▋         | 17/245 [00:02<00:32,  7.00it/s]:   7%|▋         | 18/245 [00:02<00:33,  6.84it/s]:   8%|▊         | 19/245 [00:02<00:33,  6.67it/s]:   8%|▊         | 20/245 [00:03<00:33,  6.65it/s]:   9%|▊         | 21/245 [00:03<00:33,  6.59it/s]:   9%|▉         | 22/245 [00:03<00:33,  6.56it/s]:   9%|▉         | 23/245 [00:03<00:32,  6.77it/s]:  10%|▉         | 24/245 [00:03<00:32,  6.73it/s]:  10%|█         | 25/245 [00:03<00:32,  6.73it/s]:  11%|█         | 26/245 [00:03<00:32,  6.64it/s]:  11%|█         | 27/245 [00:04<00:32,  6.74it/s]:  11%|█▏        | 28/245 [00:04<00:33,  6.45it/s]:  12%|█▏        | 29/245 [00:04<00:32,  6.55it/s]:  12%|█▏        | 30/245 [00:04<00:32,  6.61it/s]:  13%|█▎        | 31/245 [00:04<00:32,  6.62it/s]:  13%|█▎        | 32/245 [00:04<00:31,  6.69it/s]:  13%|█▎        | 33/245 [00:05<00:32,  6.58it/s]:  14%|█▍        | 34/245 [00:05<00:31,  6.60it/s]:  14%|█▍        | 35/245 [00:05<00:31,  6.66it/s]:  15%|█▍        | 36/245 [00:05<00:32,  6.47it/s]:  15%|█▌        | 37/245 [00:05<00:31,  6.55it/s]:  16%|█▌        | 38/245 [00:05<00:30,  6.68it/s]:  16%|█▌        | 39/245 [00:05<00:30,  6.80it/s]:  16%|█▋        | 40/245 [00:06<00:30,  6.78it/s]:  17%|█▋        | 41/245 [00:06<00:30,  6.80it/s]:  17%|█▋        | 42/245 [00:06<00:30,  6.57it/s]:  18%|█▊        | 43/245 [00:06<00:30,  6.59it/s]:  18%|█▊        | 44/245 [00:06<00:30,  6.61it/s]:  18%|█▊        | 45/245 [00:06<00:30,  6.62it/s]:  19%|█▉        | 46/245 [00:07<00:30,  6.49it/s]:  19%|█▉        | 47/245 [00:07<00:31,  6.20it/s]:  20%|█▉        | 48/245 [00:07<00:31,  6.27it/s]:  20%|██        | 49/245 [00:07<00:30,  6.53it/s]:  20%|██        | 50/245 [00:07<00:30,  6.44it/s]:  21%|██        | 51/245 [00:07<00:29,  6.55it/s]:  21%|██        | 52/245 [00:07<00:29,  6.44it/s]:  22%|██▏       | 53/245 [00:08<00:29,  6.56it/s]:  22%|██▏       | 54/245 [00:08<00:28,  6.77it/s]:  22%|██▏       | 55/245 [00:08<00:28,  6.62it/s]:  23%|██▎       | 56/245 [00:08<00:28,  6.61it/s]:  23%|██▎       | 57/245 [00:08<00:27,  6.82it/s]:  24%|██▎       | 58/245 [00:08<00:28,  6.52it/s]:  24%|██▍       | 59/245 [00:09<00:28,  6.48it/s]:  24%|██▍       | 60/245 [00:09<00:27,  6.69it/s]:  25%|██▍       | 61/245 [00:09<00:27,  6.65it/s]:  25%|██▌       | 62/245 [00:09<00:29,  6.28it/s]:  26%|██▌       | 63/245 [00:09<00:28,  6.32it/s]:  26%|██▌       | 64/245 [00:09<00:28,  6.42it/s]:  27%|██▋       | 65/245 [00:09<00:28,  6.38it/s]:  27%|██▋       | 66/245 [00:10<00:26,  6.73it/s]:  27%|██▋       | 67/245 [00:10<00:26,  6.74it/s]:  28%|██▊       | 68/245 [00:10<00:26,  6.76it/s]:  28%|██▊       | 69/245 [00:10<00:26,  6.60it/s]:  29%|██▊       | 70/245 [00:10<00:26,  6.59it/s]:  29%|██▉       | 71/245 [00:10<00:25,  6.94it/s]:  29%|██▉       | 72/245 [00:10<00:24,  6.97it/s]:  30%|██▉       | 73/245 [00:11<00:24,  7.14it/s]:  30%|███       | 74/245 [00:11<00:25,  6.66it/s]:  31%|███       | 75/245 [00:11<00:25,  6.77it/s]:  31%|███       | 76/245 [00:11<00:26,  6.40it/s]:  31%|███▏      | 77/245 [00:11<00:25,  6.50it/s]:  32%|███▏      | 78/245 [00:11<00:25,  6.47it/s]:  32%|███▏      | 79/245 [00:12<00:25,  6.56it/s]:  33%|███▎      | 80/245 [00:12<00:25,  6.54it/s]:  33%|███▎      | 81/245 [00:12<00:25,  6.56it/s]:  33%|███▎      | 82/245 [00:12<00:24,  6.74it/s]:  34%|███▍      | 83/245 [00:12<00:24,  6.66it/s]:  34%|███▍      | 84/245 [00:12<00:24,  6.57it/s]:  35%|███▍      | 85/245 [00:12<00:24,  6.46it/s]:  35%|███▌      | 86/245 [00:13<00:24,  6.50it/s]:  36%|███▌      | 87/245 [00:13<00:23,  6.60it/s]:  36%|███▌      | 88/245 [00:13<00:23,  6.55it/s]:  36%|███▋      | 89/245 [00:13<00:23,  6.61it/s]:  37%|███▋      | 90/245 [00:13<00:23,  6.64it/s]:  37%|███▋      | 91/245 [00:13<00:23,  6.65it/s]:  38%|███▊      | 92/245 [00:13<00:23,  6.57it/s]:  38%|███▊      | 93/245 [00:14<00:23,  6.38it/s]:  38%|███▊      | 94/245 [00:14<00:24,  6.23it/s]:  39%|███▉      | 95/245 [00:14<00:23,  6.34it/s]:  39%|███▉      | 96/245 [00:14<00:23,  6.38it/s]:  40%|███▉      | 97/245 [00:14<00:24,  6.15it/s]:  40%|████      | 98/245 [00:14<00:24,  6.09it/s]:  40%|████      | 99/245 [00:15<00:22,  6.36it/s]:  41%|████      | 100/245 [00:15<00:21,  6.64it/s]:  41%|████      | 101/245 [00:15<00:21,  6.64it/s]:  42%|████▏     | 102/245 [00:15<00:22,  6.43it/s]:  42%|████▏     | 103/245 [00:15<00:21,  6.51it/s]:  42%|████▏     | 104/245 [00:15<00:21,  6.50it/s]:  43%|████▎     | 105/245 [00:16<00:21,  6.59it/s]:  43%|████▎     | 106/245 [00:16<00:21,  6.49it/s]:  44%|████▎     | 107/245 [00:16<00:21,  6.46it/s]:  44%|████▍     | 108/245 [00:16<00:20,  6.53it/s]:  44%|████▍     | 109/245 [00:16<00:20,  6.54it/s]:  45%|████▍     | 110/245 [00:16<00:20,  6.57it/s]:  45%|████▌     | 111/245 [00:16<00:20,  6.67it/s]:  46%|████▌     | 112/245 [00:17<00:19,  6.71it/s]:  46%|████▌     | 113/245 [00:17<00:19,  6.63it/s]:  47%|████▋     | 114/245 [00:17<00:19,  6.70it/s]:  47%|████▋     | 115/245 [00:17<00:19,  6.60it/s]:  47%|████▋     | 116/245 [00:17<00:19,  6.64it/s]:  48%|████▊     | 117/245 [00:17<00:19,  6.67it/s]:  48%|████▊     | 118/245 [00:17<00:18,  6.86it/s]:  49%|████▊     | 119/245 [00:18<00:19,  6.49it/s]:  49%|████▉     | 120/245 [00:18<00:19,  6.48it/s]:  49%|████▉     | 121/245 [00:18<00:18,  6.59it/s]:  50%|████▉     | 122/245 [00:18<00:18,  6.70it/s]:  50%|█████     | 123/245 [00:18<00:18,  6.66it/s]:  51%|█████     | 124/245 [00:18<00:18,  6.59it/s]:  51%|█████     | 125/245 [00:19<00:18,  6.63it/s]:  51%|█████▏    | 126/245 [00:19<00:17,  6.84it/s]:  52%|█████▏    | 127/245 [00:19<00:18,  6.51it/s]:  52%|█████▏    | 128/245 [00:19<00:18,  6.49it/s]:  53%|█████▎    | 129/245 [00:19<00:17,  6.73it/s]:  53%|█████▎    | 130/245 [00:19<00:16,  6.88it/s]:  53%|█████▎    | 131/245 [00:19<00:16,  6.91it/s]:  54%|█████▍    | 132/245 [00:20<00:16,  6.72it/s]:  54%|█████▍    | 133/245 [00:20<00:16,  6.84it/s]:  55%|█████▍    | 134/245 [00:20<00:16,  6.90it/s]:  55%|█████▌    | 135/245 [00:20<00:16,  6.73it/s]:  56%|█████▌    | 136/245 [00:20<00:16,  6.69it/s]:  56%|█████▌    | 137/245 [00:20<00:16,  6.55it/s]:  56%|█████▋    | 138/245 [00:21<00:16,  6.38it/s]:  57%|█████▋    | 139/245 [00:21<00:16,  6.38it/s]:  57%|█████▋    | 140/245 [00:21<00:16,  6.19it/s]:  58%|█████▊    | 141/245 [00:21<00:16,  6.42it/s]:  58%|█████▊    | 142/245 [00:21<00:15,  6.52it/s]:  58%|█████▊    | 143/245 [00:21<00:15,  6.63it/s]:  59%|█████▉    | 144/245 [00:21<00:15,  6.43it/s]:  59%|█████▉    | 145/245 [00:22<00:15,  6.57it/s]:  60%|█████▉    | 146/245 [00:22<00:14,  6.76it/s]:  60%|██████    | 147/245 [00:22<00:14,  6.79it/s]:  60%|██████    | 148/245 [00:22<00:14,  6.89it/s]:  61%|██████    | 149/245 [00:22<00:13,  6.95it/s]:  61%|██████    | 150/245 [00:22<00:13,  6.86it/s]:  62%|██████▏   | 151/245 [00:22<00:13,  6.84it/s]:  62%|██████▏   | 152/245 [00:23<00:13,  6.79it/s]:  62%|██████▏   | 153/245 [00:23<00:13,  6.67it/s]:  63%|██████▎   | 154/245 [00:23<00:13,  6.78it/s]:  63%|██████▎   | 155/245 [00:23<00:13,  6.83it/s]:  64%|██████▎   | 156/245 [00:23<00:13,  6.78it/s]:  64%|██████▍   | 157/245 [00:23<00:13,  6.52it/s]:  64%|██████▍   | 158/245 [00:23<00:13,  6.62it/s]:  65%|██████▍   | 159/245 [00:24<00:13,  6.50it/s]:  65%|██████▌   | 160/245 [00:24<00:13,  6.54it/s]:  66%|██████▌   | 161/245 [00:24<00:12,  6.70it/s]:  66%|██████▌   | 162/245 [00:24<00:12,  6.69it/s]:  67%|██████▋   | 163/245 [00:24<00:12,  6.76it/s]:  67%|██████▋   | 164/245 [00:24<00:11,  6.95it/s]:  67%|██████▋   | 165/245 [00:25<00:12,  6.61it/s]:  68%|██████▊   | 166/245 [00:25<00:11,  6.81it/s]:  68%|██████▊   | 167/245 [00:25<00:11,  6.71it/s]:  69%|██████▊   | 168/245 [00:25<00:11,  6.77it/s]:  69%|██████▉   | 169/245 [00:25<00:11,  6.89it/s]:  69%|██████▉   | 170/245 [00:25<00:10,  6.85it/s]:  70%|██████▉   | 171/245 [00:25<00:10,  6.98it/s]:  70%|███████   | 172/245 [00:26<00:10,  6.83it/s]:  71%|███████   | 173/245 [00:26<00:10,  6.56it/s]:  71%|███████   | 174/245 [00:26<00:10,  6.58it/s]:  71%|███████▏  | 175/245 [00:26<00:11,  6.31it/s]:  72%|███████▏  | 176/245 [00:26<00:10,  6.54it/s]:  72%|███████▏  | 177/245 [00:26<00:10,  6.73it/s]:  73%|███████▎  | 178/245 [00:26<00:09,  6.70it/s]:  73%|███████▎  | 179/245 [00:27<00:10,  6.51it/s]:  73%|███████▎  | 180/245 [00:27<00:09,  6.59it/s]:  74%|███████▍  | 181/245 [00:27<00:09,  6.62it/s]:  74%|███████▍  | 182/245 [00:27<00:09,  6.55it/s]:  75%|███████▍  | 183/245 [00:27<00:09,  6.66it/s]:  75%|███████▌  | 184/245 [00:27<00:09,  6.48it/s]:  76%|███████▌  | 185/245 [00:28<00:09,  6.59it/s]:  76%|███████▌  | 186/245 [00:28<00:08,  6.57it/s]:  76%|███████▋  | 187/245 [00:28<00:08,  6.69it/s]:  77%|███████▋  | 188/245 [00:28<00:08,  6.60it/s]:  77%|███████▋  | 189/245 [00:28<00:08,  6.62it/s]:  78%|███████▊  | 190/245 [00:28<00:08,  6.73it/s]:  78%|███████▊  | 191/245 [00:28<00:08,  6.72it/s]:  78%|███████▊  | 192/245 [00:29<00:07,  6.92it/s]:  79%|███████▉  | 193/245 [00:29<00:07,  6.77it/s]:  79%|███████▉  | 194/245 [00:29<00:07,  6.82it/s]:  80%|███████▉  | 195/245 [00:29<00:07,  6.84it/s]:  80%|████████  | 196/245 [00:29<00:07,  6.85it/s]:  80%|████████  | 197/245 [00:29<00:07,  6.77it/s]:  81%|████████  | 198/245 [00:29<00:06,  6.80it/s]:  81%|████████  | 199/245 [00:30<00:06,  6.73it/s]:  82%|████████▏ | 200/245 [00:30<00:06,  6.73it/s]:  82%|████████▏ | 201/245 [00:30<00:06,  6.52it/s]:  82%|████████▏ | 202/245 [00:30<00:06,  6.61it/s]:  83%|████████▎ | 203/245 [00:30<00:06,  6.49it/s]:  83%|████████▎ | 204/245 [00:30<00:06,  6.16it/s]:  84%|████████▎ | 205/245 [00:31<00:06,  6.09it/s]:  84%|████████▍ | 206/245 [00:31<00:06,  6.31it/s]:  84%|████████▍ | 207/245 [00:31<00:06,  6.12it/s]:  85%|████████▍ | 208/245 [00:31<00:05,  6.37it/s]:  85%|████████▌ | 209/245 [00:31<00:05,  6.32it/s]:  86%|████████▌ | 210/245 [00:31<00:05,  6.67it/s]:  86%|████████▌ | 211/245 [00:31<00:05,  6.79it/s]:  87%|████████▋ | 212/245 [00:32<00:05,  6.46it/s]:  87%|████████▋ | 213/245 [00:32<00:04,  6.81it/s]:  87%|████████▋ | 214/245 [00:32<00:04,  6.93it/s]:  88%|████████▊ | 215/245 [00:32<00:04,  6.60it/s]:  88%|████████▊ | 216/245 [00:32<00:04,  6.85it/s]:  89%|████████▊ | 217/245 [00:32<00:04,  6.70it/s]:  89%|████████▉ | 218/245 [00:33<00:04,  6.59it/s]:  89%|████████▉ | 219/245 [00:33<00:03,  6.60it/s]:  90%|████████▉ | 220/245 [00:33<00:03,  6.95it/s]:  90%|█████████ | 221/245 [00:33<00:03,  6.92it/s]:  91%|█████████ | 222/245 [00:33<00:03,  6.92it/s]:  91%|█████████ | 223/245 [00:33<00:03,  6.98it/s]:  91%|█████████▏| 224/245 [00:33<00:03,  6.66it/s]:  92%|█████████▏| 225/245 [00:34<00:02,  6.90it/s]:  92%|█████████▏| 226/245 [00:34<00:02,  6.88it/s]:  93%|█████████▎| 227/245 [00:34<00:02,  6.92it/s]:  93%|█████████▎| 228/245 [00:34<00:02,  6.74it/s]:  93%|█████████▎| 229/245 [00:34<00:02,  6.80it/s]:  94%|█████████▍| 230/245 [00:34<00:02,  6.78it/s]:  94%|█████████▍| 231/245 [00:34<00:02,  6.80it/s]:  95%|█████████▍| 232/245 [00:35<00:02,  6.43it/s]:  95%|█████████▌| 233/245 [00:35<00:01,  6.33it/s]:  96%|█████████▌| 234/245 [00:35<00:01,  6.45it/s]:  96%|█████████▌| 235/245 [00:35<00:01,  6.53it/s]:  96%|█████████▋| 236/245 [00:35<00:01,  6.67it/s]:  97%|█████████▋| 237/245 [00:35<00:01,  6.76it/s]:  97%|█████████▋| 238/245 [00:35<00:01,  6.85it/s]:  98%|█████████▊| 239/245 [00:36<00:00,  6.74it/s]:  98%|█████████▊| 240/245 [00:36<00:00,  6.49it/s]:  98%|█████████▊| 241/245 [00:36<00:00,  6.58it/s]:  99%|█████████▉| 242/245 [00:36<00:00,  6.60it/s]:  99%|█████████▉| 243/245 [00:36<00:00,  6.54it/s]: 100%|█████████▉| 244/245 [00:36<00:00,  6.77it/s]: 100%|██████████| 245/245 [00:37<00:00,  6.60it/s]: 100%|██████████| 245/245 [00:37<00:00,  6.61it/s]

inference done!

## 제출파일 생성

In [34]:
sub

         user  item
0           0  2381
1           0  2619
2           0    41
3           0  4581
4           0  4790
...       ...   ...
627195  31359  2541
627196  31359   178
627197  31359  1206
627198  31359  2603
627199  31359  2653

[627200 rows x 2 columns]

## 제출파일에 기존 interaction 중복 확인 및 제거
-> 중복 없었다.

In [35]:
train_check = train[['user_id:token','item_id:token']]

In [37]:
train_check.columns = ['user','item']

In [42]:
sub_nodup = sub.merge(train_check, how='outer', indicator=True)
sub_nodup

          user  item      _merge
0            0  2381   left_only
1            0  2619   left_only
2            0    41   left_only
3            0  4581   left_only
4            0  4790   left_only
...        ...   ...         ...
5781666  31359  4882  right_only
5781667  31359  2652  right_only
5781668  31359  5768  right_only
5781669  31359  4791  right_only
5781670  31359  4363  right_only

[5781671 rows x 3 columns]

In [45]:
sub_nodup = sub_nodup.query('_merge == "left_only"').drop(columns=['_merge'])
sub_nodup

         user  item
0           0  2381
1           0  2619
2           0    41
3           0  4581
4           0  4790
...       ...   ...
627195  31359  2541
627196  31359   178
627197  31359  1206
627198  31359  2603
627199  31359  2653

[627200 rows x 2 columns]

In [25]:
sub.user = sub.user.map(uidx2user)
sub.item = sub.item.map(iidx2item)

In [26]:
sub.to_csv('EASE_1_0.csv',index=False)

In [28]:
train

         user_id:token  item_id:token  timestamp:float
0                    0           2505       1230782529
1                    0            109       1230782534
2                    0            319       1230782539
3                    0            368       1230782542
4                    0           1183       1230782563
...                ...            ...              ...
5154466          31359           4882       1260209449
5154467          31359           2652       1260209482
5154468          31359           5768       1260209720
5154469          31359           4791       1260209726
5154470          31359           4363       1260209807

[5154471 rows x 3 columns]

In [ ]:
sub.user = sub.user.map(user2idx)
sub.item = sub.item.map(item2idx)

In [ ]:
train.columns=['user','item','time']
train[:3]

In [ ]:
afterdf = sub.merge(train[['user','item','time']], on=['user','item'], how='left')

In [ ]:
afterdf[afterdf['timestamp:float'].notna()]

## 시간 순서 잘 지켜졌는지 확인해보기

In [ ]:
train.user = train.user.map(uidx2user)
train.item = train.item.map(iidx2item)

In [ ]:
import time
from time import localtime

In [ ]:
data_path = '../../data/train'
year_data = pd.read_csv(os.path.join(data_path, 'years.tsv'), sep='\t')
writer_data = pd.read_csv(os.path.join(data_path, 'writers.tsv'), sep='\t')
title_data = pd.read_csv(os.path.join(data_path, 'titles.tsv'), sep='\t')
genre_data = pd.read_csv(os.path.join(data_path, 'genres.tsv'), sep='\t')
director_data = pd.read_csv(os.path.join(data_path, 'directors.tsv'), sep='\t')

### train에 review_year, month, day, year_month 추가

In [ ]:
train['review_year'] = train['time'].apply(lambda x : localtime(x).tm_year)

In [ ]:
train['month'] = train['time'].apply(lambda x : localtime(x).tm_mon)

In [ ]:
train['day'] = train['time'].apply(lambda x : localtime(x).tm_mday)

In [ ]:
train['year_month'] = train['time'].apply(lambda x : time.strftime('%Y-%m',localtime(x)))

In [ ]:
train.sort_values(['user','time'],inplace=True)

In [ ]:
user2lastyear = dict(train.groupby('user').year.max())

In [ ]:
user2lastyearmonth = dict(train.groupby('user').year_month.max())

In [ ]:
train['lastyear']=train.user.map(user2lastyear)
train['last_yearmonth']=train.user.map(user2lastyearmonth)

In [ ]:
train

### year 채워넣기

In [ ]:
merge_df = train.copy()
side_info = [title_data,year_data]
for side in side_info:
    merge_df = merge_df.merge(side,how = 'left',on='item')
merge_df.head()

In [ ]:
merge_df['year_from_title'] = merge_df['title'].apply(lambda x : (x[-5:-1]))

In [ ]:
merge_df.loc[merge_df['year_from_title']=='007-','year_from_title'] = 2007

In [ ]:
merge_df.year_from_title=merge_df.year_from_title.astype(int)

In [ ]:
cond = merge_df.year_from_title == merge_df.year

In [ ]:
merge_df[~cond & merge_df.year.notna()].title.value_counts()

In [ ]:
merge_df.year = merge_df.year.fillna(merge_df.year_from_title)

In [ ]:
merge_df.year = merge_df.year.astype(int)

In [ ]:
merge_df[merge_df.lastyear < merge_df.year]

In [ ]:
## item별 year이 모두 동일한지 첫번째값과 평균값이 같은 아이템들 확인 -> 모두 일치
sum(merge_df.groupby('item').year.first() == merge_df.groupby('item').year.mean())

In [ ]:
item2year = dict(merge_df.groupby('item').year.first())

## sub 보기

In [262]:
sub.user = sub.user.map(uidx2user)
sub.item = sub.item.map(iidx2item)

In [263]:
sub['lastyear']=sub.user.map(user2lastyear)
sub['last_yearmonth']=sub.user.map(user2lastyearmonth)
sub['m_year'] = sub.item.map(item2year)

In [265]:
sub

          user   item  lastyear last_yearmonth  m_year
0           11   4370      2011        2011-01    2001
1           11   4886      2011        2011-01    2001
2           11     47      2011        2011-01    1995
3           11  32587      2011        2011-01    2005
4           11  40815      2011        2011-01    2005
...        ...    ...       ...            ...     ...
627195  138493   4720      2009        2009-12    2001
627196  138493    293      2009        2009-12    1994
627197  138493   2174      2009        2009-12    1988
627198  138493   4848      2009        2009-12    2001
627199  138493   4963      2009        2009-12    2001

[627200 rows x 5 columns]

In [268]:
sub2 = sub[sub.lastyear >= sub.m_year]

In [276]:
df = pd.read_csv('EASE_1_0.csv')

In [282]:
df['item2']= sub2.groupby('user').item.head(10).reset_index(drop=True)

### 이전 제출(1594)대비 현재 제출(1595)에서 달라진 부분 보기

In [324]:
## 이전 제출(1594)대비 현재 제출(1595)에서 달라진 부분 보기
idx_list=[]
user_item2 = dict(df.groupby('user').item2.apply(list))
for i in tqdm(df.itertuples(), total=df.shape[0]):
    if i.item not in user_item2[i.user]:
        idx_list.append(i.Index)

100%|██████████████████████████████████████████████████| 313600/313600 [00:00<00:00, 562116.84it/s]

In [329]:
df['lastyear']=df.user.map(user2lastyear)
df['last_yearmonth']=df.user.map(user2lastyearmonth)
df['m_year'] = df.item.map(item2year)

In [330]:
df.iloc[idx_list,:]

          user   item  item2  lastyear last_yearmonth  m_year
109         61  58559  48780      2007        2007-12    2008
1559       664  63436   8528      2007        2007-11    2008
2144       915  54286   4027      2006        2006-08    2007
3504      1539  79132   3949      2009        2009-07    2010
5019      2160  58559    111      2007        2007-01    2008
...        ...    ...    ...       ...            ...     ...
300758  132448  69844   2542      2007        2007-10    2009
307115  135535  58559    318      2005        2005-12    2008
307702  135798  88125   6539      2010        2010-12    2011
311225  137460  58559    745      2007        2007-09    2008
312617  138094  79132   4973      2009        2009-10    2010

[213 rows x 6 columns]

## 최종 제출 -> 1595

In [288]:
df[['user','item2']].rename(columns={'item2':'item'}).to_csv("EASE_1_0_Top20_remove_review_after_movie.csv",index=False)