In [1]:
import torch
import pandas as pd
import numpy as np
# pip install transformers
from transformers import BertTokenizer, BertModel
# 만약 주피터 노트북에서 아래와 관계있는 에러가 발생한다면
# pip install ipywidgets

In [2]:
main_df = pd.read_csv('/opt/ml/input/data/train/train_ratings.csv') # user-item-time
writer_df = pd.read_csv('/opt/ml/input/data/train/writers.tsv', sep='\t') # item-writer

# writer embedding
director_df의 결측행, 중복행을 해결하기 ---> director의 행길이 : 6807

### 결측행 추가
director_df에 없는 영화정보를 director를 'nm0000000'으로해서 뒤에 추가

In [4]:
writer_df.head(3)

   item     writer
0  1237  nm0000005
1  5147  nm0000005
2  7327  nm0000005

In [6]:
no_wri_item_list = list(set(main_df['item']) - set(writer_df['item']))

In [7]:
no_wri_item_df = pd.DataFrame([x for x in zip(no_wri_item_list, ['nm0000000']*len(no_wri_item_list))])

In [8]:
no_wri_item_df.columns=writer_df.columns # 컬럼명 동일하게

In [9]:
writer_df = pd.concat([writer_df, no_wri_item_df]) # 기존 director_df 뒤에 작가없는 영화 추가

In [10]:
writer_df

        item     writer
0       1237  nm0000005
1       5147  nm0000005
2       7327  nm0000005
3       2068  nm0000005
4       7396  nm0000005
...      ...        ...
1154   55284  nm0000000
1155   81910  nm0000000
1156    4091  nm0000000
1157    2046  nm0000000
1158  110591  nm0000000

[12465 rows x 2 columns]

In [13]:
merged_writer_df = main_df.merge(writer_df, how='left')

In [14]:
merged_writer_df

            user   item        time     writer
0             11   4643  1230782529  nm0099541
1             11   4643  1230782529  nm0115310
2             11   4643  1230782529  nm0465199
3             11   4643  1230782529  nm0742797
4             11    170  1230782534  nm0000000
...          ...    ...         ...        ...
11591602  138493  68319  1260209720  nm1125275
11591603  138493  40819  1260209726  nm0003506
11591604  138493  40819  1260209726  nm0219456
11591605  138493  27311  1260209807  nm0004170
11591606  138493  27311  1260209807  nm0227704

[11591607 rows x 4 columns]

In [15]:
merged_writer_df.isna().sum()

user      0
item      0
time      0
writer    0
dtype: int64

### 아이템 별 작가정보 통계량으로 나타내기
한 아이템당 여러 작가가 참여했을 때, 작가들의 평균(interaction/movie_cnt) 평점중 가장 큰 수

In [19]:
# 아래코드 이해용
item_list = writer_df[writer_df['writer'] == 'nm0000005']['item'].tolist()

In [20]:
# 아래코드 이해용
item_list

[1237,
 5147,
 7327,
 2068,
 7396,
 4422,
 7939,
 7938,
 7941,
 7937,
 2131,
 34155,
 7936,
 7940,
 7577,
 7942,
 8405,
 7328]

In [21]:
# 아래코드 이해용
len(merged_writer_df[merged_writer_df['item'].isin(item_list)])

6020

In [381]:
# #작가별 받은 총 interaction 수 정보
# director_list = dir_df['director'].unique()
# director_dict = {}
# for name in director_list:
#     dir_item_list = director_df[director_df['director'] == name]['item'].tolist()   #해당 작가가 기여한 영화 리스트
#     director_dict[name] = len(dir_df[dir_df['item'].isin(dir_item_list)])           #해당 작가가 기여한 영화들의 총 interaction 수

In [22]:
#작가별 받은 총 interaction 수 정보 / 작가가 기여한 영화수
writer_list = merged_writer_df['writer'].unique()
writer_dict = {}
for name in writer_list:
    wri_item_list = writer_df[writer_df['writer'] == name]['item'].tolist()   #해당 작가가 기여한 영화 리스트
    writer_dict[name] = len(merged_writer_df[merged_writer_df['item'].isin(wri_item_list)]) / (len(wri_item_list)+1)      #해당 작가가 기여한 영화들의 총 interaction 수

In [23]:
writer_dict

{'nm0099541': 3076.8,
 'nm0115310': 4146.333333333333,
 'nm0465199': 1764.1,
 'nm0742797': 1764.1,
 'nm0000000': 269.56206896551726,
 'nm0003031': 5684.0,
 'nm0122364': 1005.0,
 'nm0027011': 6646.0,
 'nm0166307': 4469.4,
 'nm0166551': 4113.2,
 'nm0314788': 5445.076923076923,
 'nm0841035': 4465.6,
 'nm0858826': 5361.5,
 'nm0942723': 5794.0,
 'nm0001345': 2081.0,
 'nm0643973': 1036.3333333333333,
 'nm0694526': 4391.666666666667,
 'nm0694638': 4391.666666666667,
 'nm0000186': 2345.8,
 'nm0075015': 2182.0,
 'nm0212246': 1913.25,
 'nm0001279': 1925.0,
 'nm0078203': 413.6666666666667,
 'nm0932078': 616.3333333333334,
 'nm0549256': 967.0,
 'nm0568416': 159.25,
 'nm0000343': 1097.909090909091,
 'nm0083348': 9723.333333333334,
 'nm0308376': 1043.75,
 'nm0534681': 1574.7777777777778,
 'nm0730422': 3172.8571428571427,
 'nm0934093': 1574.7777777777778,
 'nm0000636': 1335.888888888889,
 'nm0527581': 2354.714285714286,
 'nm0809006': 2354.714285714286,
 'nm0000386': 4530.571428571428,
 'nm0460057': 700.6666666666666,
 'nm0205157': 280.6666666666667,
 'nm0000455': 1421.5925925925926,
 'nm0807977': 1195.2,
 'nm0003408': 5900.0,
 'nm0672459': 5542.333333333333,
 'nm0925380': 332.4,
 'nm0326092': 2325.0,
 'nm0951135': 2325.0,
 'nm0000175': 3600.909090909091,
 'nm0018735': 2148.25,
 'nm0338557': 1313.0,
 'nm0438989': 2148.25,
 'nm0112459': 480.2857142857143,
 'nm0307497': 2065.8333333333335,
 'nm0294379': 1357.0,
 'nm0423626': 1405.0,
 'nm0426500': 8449.5,
 'nm0588340': 5124.25,
 'nm0811583': 6927.2,
 'nm1290582': 11686.666666666666,
 'nm2241067': 9097.5,
 'nm0031976': 1921.8,
 'nm1286500': 866.0,
 'nm0027271': 1097.625,
 'nm0639321': 7562.8125,
 'nm0795953': 9745.75,
 'nm0859029': 2737.5,
 'nm0859049': 2737.5,
 'nm0004307': 4521.2,
 'nm0373282': 3645.6,
 'nm0394984': 5791.285714285715,
 'nm0919363': 4132.2,
 'nm0919369': 2994.4285714285716,
 'nm0000120': 5274.666666666667,
 'nm0001723': 7230.0,
 'nm0077062': 6696.0,
 'nm0644203': 2290.0,
 'nm0011623': 1853.5,
 'nm0397411': 790.5714285714286,
 'nm0933733': 6633.0,
 'nm0070676': 964.6666666666666,
 'nm0075727': 427.6666666666667,
 'nm0172830': 6568.0,
 'nm0960028': 1067.5,
 'nm0000231': 3267.722222222222,
 'nm0436164': 2347.8,
 'nm0477370': 593.6666666666666,
 'nm0052520': 10030.4,
 'nm0140902': 4409.5,
 'nm0174974': 7974.666666666667,
 'nm0183183': 11398.6,
 'nm0335469': 18470.444444444445,
 'nm0382548': 9342.75,
 'nm0400056': 13397.333333333334,
 'nm0404717': 5054.8,
 'nm0670328': 10824.07142857143,
 'nm0672093': 13400.4,
 'nm0727370': 11007.444444444445,
 'nm0780799': 10567.2,
 'nm0000116': 11354.3,
 'nm0001353': 5832.727272727273,
 'nm0318429': 7132.555555555556,
 'nm0272511': 7915.5,
 'nm0911910': 4508.666666666667,
 'nm0001081': 2639.3333333333335,
 'nm0357453': 5034.857142857143,
 'nm0050332': 5090.333333333333,
 'nm0381221': 1083.7777777777778,
 'nm0000484': 2101.5714285714284,
 'nm0030663': 861.0,
 'nm0466925': 1384.6,
 'nm0527567': 861.0,
 'nm0527582': 861.0,
 'nm0827839': 861.0,
 'nm0037247': 2414.8,
 'nm0752328': 307.6666666666667,
 'nm0001705': 295.6,
 'nm0103744': 172.0,
 'nm0159109': 3395.0,
 'nm0161285': 3570.75,
 'nm0605479': 3887.3333333333335,
 'nm0905152': 9789.7,
 'nm0905154': 9789.7,
 'nm0913860': 4232.0,
 'nm1152581': 124.75,
 'nm0204884': 219.33333333333334,
 'nm0017305': 2212.0,
 'nm0000154': 709.75,
 'nm0718031': 6045.5,
 'nm0794385': 2156.25,
 'nm0006904': 8719.0,
 'nm0009190': 3997.8571428571427,
 'nm0378144': 5837.125,
 'nm0690798': 7299.333333333333,
 'nm0000108': 1662.1333333333334,
 'nm0149260': 69.66666666666667,
 'nm0007233': 1180.0,
 'nm0614742': 6998.25,
 'nm0721675': 19599.166666666668,
 'nm0873779': 41903.2,
 'nm0923736': 10687.90909090909,
 'nm0936374': 52131.5,
 'nm0628285': 257.0,
 'nm0517589': 5555.285714285715,
 'nm0411477': 853.7272727272727,
 'nm0698493': 2174.8888888888887,
 'nm0000709': 5677.444444444444,
 'nm0301826': 6172.875,
 'nm0000264': 519.8125,
 'nm0001392': 17251.733333333334,
 'nm0266338': 11541.25,
 'nm0668998': 11541.25,
 'nm0759041': 3392.0,
 'nm0789873': 4464.8,
 'nm0821707': 10647.4,
 'nm0001140': 7607.3,
 'nm0446819': 2339.2,
 'nm0327273': 4858.333333333333,
 'nm0442109': 7404.666666666667,
 'nm0594503': 2586.823529411765,
 'nm0411872': 2933.0,
 'nm1248357': 3032.25,
 'nm1248358': 3032.25,
 'nm0000184': 14419.5,
 'nm0001410': 8418.285714285714,
 'nm0102824': 7231.857142857143,
 'nm0004056': 28383.8,
 'nm0230032': 33020.42857142857,
 'nm0714114': 9880.0,
 'nm0000341': 2930.733333333333,
 'nm0788234': 611.6666666666666,
 'nm0002041': 3562.625,
 'nm0254645': 21147.0,
 'nm0744429': 20260.5,
 'nm0796117': 2303.4545454545455,
 'nm0404396': 185.33333333333334,
 'nm0920229': 1392.090909090909,
 'nm0659949': 267.5,
 'nm0927074': 1365.142857142857,
 'nm0860155': 928.75,
 'nm0365390': 1505.0,
 'nm0748874': 1111.0,
 'nm0918339': 1692.5714285714287,
 'nm1080144': 1111.0,
 'nm0600872': 1388.75,
 'nm0040643': 120.4,
 'nm0118224': 870.2,
 'nm0668247': 4196.888888888889,
 'nm0852591': 3322.5714285714284,
 'nm0241949': 934.5,
 'nm0705474': 1763.3333333333333,
 'nm0878638': 3343.3846153846152,
 'nm0604688': 922.6,
 'nm0939128': 1134.0,
 'nm0192384': 6775.0,
 'nm0266673': 2319.5,
 'nm0330565': 2314.8,
 'nm0004810': 1192.6666666666667,
 'nm0819487': 1192.6666666666667,
 'nm0618680': 1542.0,
 'nm0280814': 389.5,
 'nm0505662': 450.4,
 'nm0894523': 648.7142857142857,
 'nm0919115': 305.3333333333333,
 'nm0462895': 5278.809523809524,
 'nm0748022': 1019.0,
 'nm0866062': 717.0,
 'nm0006997': 1449.6666666666667,
 'nm0914058': 2230.3333333333335,
 'nm0053228': 214.33333333333334,
 'nm0000101': 5474.875,
 'nm0000601': 5327.846153846154,
 'nm0000600': 3129.6666666666665,
 'nm0228492': 14443.166666666666,
 'nm0498278': 13682.764705882353,
 'nm0706898': 3339.8,
 'nm0765091': 5052.461538461538,
 'nm0027459': 7663.666666666667,
 'nm0431622': 1764.8,
 'nm1950901': 2931.6666666666665,
 'nm2320658': 6667.857142857143,
 'nm2558161': 1243.6666666666667,
 'nm0041864': 4077.6363636363635,
 'nm0061829': 1414.5,
 'nm0249421': 2932.0,
 'nm0566595': 1716.6666666666667,
 'nm0672015': 5575.363636363636,
 'nm1334526': 3752.375,
 'nm0756983': 1818.3333333333333,
 'nm0456158': 9731.625,
 'nm0476064': 4777.0,
 'nm0649460': 4777.0,
 'nm1047021': 2443.6666666666665,
 'nm0001920': 5161.333333333333,
 'nm0326040': 5198.538461538462,
 'nm0899113': 6277.333333333333,
 'nm0295264': 2623.75,
 'nm0003117': 1928.0,
 'nm0923646': 1928.0,
 'nm0107774': 2833.5,
 'nm0344259': 3719.3333333333335,
 'nm1206844': 1601.5,
 'nm0238668': 6600.0,
 'nm0325533': 4714.333333333333,
 'nm0366337': 3529.3636363636365,
 'nm0755981': 6600.0,
 'nm0622112': 3580.0,
 'nm0229644': 2283.714285714286,
 'nm0275286': 9941.846153846154,
 'nm0636002': 1263.2857142857142,
 'nm0558953': 1877.8333333333333,
 'nm0451689': 929.2,
 'nm0934483': 1882.6,
 'nm0629272': 3335.0,
 'nm0258268': 1591.3333333333333,
 'nm0556856': 1026.0,
 'nm0651900': 1150.0,
 'nm0001548': 9421.0,
 'nm0000233': 11452.642857142857,
 'nm0001675': 3847.5833333333335,
 'nm0744834': 3222.4,
 'nm0942367': 7098.285714285715,
 'nm0957772': 3300.4,
 'nm3851113': 5117.333333333333,
 'nm0586005': 2395.3333333333335,
 'nm0868219': 3110.090909090909,
 'nm0564827': 2042.0,
 'nm0391344': 22628.666666666668,
 'nm1293367': 17183.5,
 'nm1318843': 23994.0,
 'nm1319757': 23994.0,
 'nm1411347': 21866.25,
 'nm1436466': 22628.666666666668,
 'nm0004306': 3094.875,
 'nm0447945': 3580.0,
 'nm0004412': 4344.875,
 'nm0291082': 2825.5,
 'nm0464804': 750.0,
 'nm0875489': 1038.6666666666667,
 'nm0441301': 328.3333333333333,
 'nm0478799': 188.33333333333334,
 'nm1141181': 188.33333333333334,
 'nm0000500': 1964.0,
 'nm0149290': 11944.5,
 'nm0332184': 6223.777777777777,
 'nm0587692': 6223.777777777777,
 'nm0936537': 8537.666666666666,
 'nm0325778': 5384.0,
 'nm0693956': 9068.0,
 'nm0001741': 16549.2,
 'nm0371684': 13268.4,
 'nm0003529': 10847.75,
 'nm1002424': 10863.25,
 'nm0343570': 241.33333333333334,
 'nm0354126': 241.33333333333334,
 'nm0795575': 241.33333333333334,
 'nm0846969': 241.33333333333334,
 'nm0905458': 1235.0,
 'nm0006894': 948.75,
 'nm0211823': 4168.642857142857,
 'nm0264338': 1567.6666666666667,
 'nm0905957': 2526.25,
 'nm0628058': 4634.0,
 'nm0628174': 5367.8,
 'nm0701374': 9552.625,
 'nm0795975': 3695.4545454545455,
 'nm0796950': 3695.4545454545455,
 'nm0224187': 308.1666666666667,
 'nm0278277': 713.8,
 'nm0881038': 1138.0,
 'nm0004111': 1995.0,
 'nm0289833': 4985.0,
 'nm0076602': 892.3333333333334,
 'nm0770005': 2658.2,
 'nm0877273': 2373.3333333333335,
 'nm1212988': 1418.2,
 'nm0247653': 1232.4285714285713,
 'nm0481990': 1430.3333333333333,
 'nm0486244': 1026.0,
 'nm0003298': 3623.3333333333335,
 'nm0472567': 1339.923076923077,
 'nm0093328': 2564.3333333333335,
 'nm0104335': 3459.0,
 'nm0274905': 3459.0,
 'nm0282027': 1966.6666666666667,
 'nm0355054': 3432.6666666666665,
 'nm0304665': 1701.6,
 'nm0541632': 1701.6,
 'nm0572151': 2627.3333333333335,
 'nm0593856': 2627.3333333333335,
 'nm0917188': 2039.6666666666667,
 'nm1865755': 1159.3333333333333,
 'nm0371249': 2685.8571428571427,
 'nm0751652': 1199.5,
 'nm0301362': 677.6666666666666,
 'nm0374423': 2306.6666666666665,
 'nm0627159': 2090.5714285714284,
 'nm0351919': 2240.6666666666665,
 'nm0513974': 3106.0,
 'nm0531381': 3106.0,
 'nm0000316': 3854.6666666666665,
 'nm0334283': 3144.0,
 'nm0576070': 2173.8333333333335,
 'nm0004170': 7450.45,
 'nm0358334': 6013.4,
 'nm0803730': 10720.8,
 'nm0181019': 5134.75,
 'nm0181020': 5134.75,
 'nm0558577': 1839.3333333333333,
 'nm0698873': 6561.4,
 'nm0001104': 6761.555555555556,
 'nm0004410': 718.4,
 'nm0962729': 718.4,
 'nm0101991': 27810.222222222223,
 'nm0866058': 26163.333333333332,
 'nm0909638': 19852.53846153846,
 'nm0005124': 23612.714285714286,
 'nm0105169': 11913.666666666666,
 'nm0398763': 29616.333333333332,
 'nm0000092': 17859.7,
 'nm0000416': 16200.384615384615,
 'nm0001037': 28841.0,
 'nm0001385': 24730.428571428572,
 'nm0001402': 17817.6,
 'nm0001589': 22063.0,
 'nm0540627': 29192.0,
 'nm0001094': 4492.0,
 'nm0783544': 1722.3333333333333,
 'nm0001801': 4085.0625,
 'nm0001873': 5760.2,
 'nm0312367': 8934.0,
 'nm0908824': 3336.4,
 'nm0601619': 1518.875,
 'nm0000235': 15381.333333333334,
 'nm0925234': 841.7142857142857,
 'nm0064181': 9528.1,
 'nm0938684': 15188.0,
 'nm0677037': 23566.5,
 'nm0460141': 6946.0,
 'nm0746830': 8387.333333333334,
 'nm0889522': 779.5,
 'nm0125803': 4634.1,
 'nm0268380': 4634.1,
 'nm0568490': 13193.0,
 'nm0710020': 42629.77777777778,
 'nm0789624': 13193.0,
 'nm0000318': 7223.0,
 'nm0831290': 963.7,
 'nm0061284': 11056.0,
 'nm0257481': 15198.6,
 'nm0810324': 12778.833333333334,
 'nm0196119': 4755.2,
 'nm0909556': 1274.7777777777778,
 'nm0089676': 1960.25,
 'nm0320786': 855.0,
 'nm0325175': 1935.75,
 'nm0568313': 7917.0,
 'nm0135296': 65874.5,
 'nm0684342': 12762.0,
 'nm1271884': 12874.0,
 'nm1486235': 12874.0,
 'nm0159507': 3812.0,
 'nm0403230': 2773.6666666666665,
 'nm0874683': 3812.0,
 'nm0324578': 2433.2,
 'nm0730850': 2433.2,
 'nm0926727': 3950.285714285714,
 'nm0926729': 3950.285714285714,
 'nm0169540': 789.75,
 'nm0002191': 1222.142857142857,
 'nm0002192': 1746.0,
 'nm0001921': 1466.5714285714287,
 'nm0002007': 6803.166666666667,
 'nm0002417': 1358.142857142857,
 'nm0005541': 2320.0,
 'nm0064556': 2609.285714285714,
 'nm0294997': 2000.111111111111,
 'nm0424688': 2936.1666666666665,
 'nm0783536': 2000.111111111111,
 'nm0811360': 1367.0,
 'nm0915465': 2320.0,
 'nm0001338': 2699.764705882353,
 'nm0012137': 246.4,
 'nm0317450': 876.2857142857143,
 'nm0696949': 5327.0,
 'nm0780620': 5327.0,
 'nm0809899': 862.6666666666666,
 'nm0228908': 1723.5833333333333,
 'nm0647615': 398.6,
 'nm0001060': 1328.625,
 'nm0090151': 6780.1,
 'nm0842523': 2295.1428571428573,
 'nm0885575': 3152.25,
 'nm0073688': 1447.4,
 'nm0084190': 1173.0,
 'nm0769840': 1617.0,
 'nm0931185': 1322.0,
 'nm1019583': 28810.0,
 'nm1224299': 1763.25,
 'nm5022110': 4454.666666666667,
 'nm0291905': 8310.0,
 'nm0069282': 2529.6666666666665,
 'nm0166018': 205.33333333333334,
 'nm0325166': 939.75,
 'nm0905858': 939.75,
 'nm0657333': 12473.333333333334,
 'nm0880243': 13039.333333333334,
 'nm0650276': 9165.833333333334,
 'nm0109359': 408.8333333333333,
 'nm0734441': 3865.8,
 'nm0000812': 8579.5,
 'nm0744839': 3803.090909090909,
 'nm0365383': 7022.5,
 'nm0848217': 7199.0,
 'nm0169505': 15000.5,
 'nm0812513': 15000.5,
 'nm0001053': 7954.888888888889,
 'nm0001054': 7954.888888888889,
 'nm0003662': 2832.0,
 'nm0442241': 9984.0,
 'nm0861636': 10247.333333333334,
 'nm0038432': 19464.0,
 'nm0152312': 48777.166666666664,
 'nm0207305': 19677.333333333332,
 'nm0363125': 61895.28571428572,
 'nm0501729': 19551.0,
 'nm0560329': 43335.25,
 'nm0683724': 31512.833333333332,
 'nm0761498': 57549.375,
 'nm0941314': 32083.3,
 'nm0177170': 85144.0,
 'nm0258059': 46822.666666666664,
 'nm0322368': 64960.0,
 'nm0326814': 54060.833333333336,
 'nm0424556': 85144.0,
 'nm0460146': 58014.8,
 'nm0500858': 81536.25,
 'nm0575293': 31544.75,
 'nm0731271': 25963.444444444445,
 'nm0854185': 34044.166666666664,
 'nm0879318': 35436.42857142857,
 'nm0925276': 35436.42857142857,
 'nm0493369': 1240.8333333333333,
 'nm0947395': 3901.5,
 'nm0108273': 3740.4,
 'nm0894156': 2430.5,
 'nm0723351': 1811.3333333333333,
 'nm0583675': 9994.4,
 'nm0629933': 6303.142857142857,
 'nm0835732': 9481.0,
 'nm0776107': 28999.428571428572,
 'nm0825308': 33805.333333333336,
 'nm0830294': 25625.75,
 'nm0970447': 38827.0,
 'nm0970606': 63578.666666666664,
 'nm1844237': 49720.25,
 'nm0002132': 725.5,
 'nm0801728': 21392.0,
 'nm0001779': 4318.714285714285,
 'nm0635565': 3236.0,
 'nm0060103': 1336.3076923076924,
 'nm0436543': 2231.8,
 'nm0001940': 2511.0,
 'nm0331956': 3396.4,
 'nm0448392': 2374.3333333333335,
 'nm1130251': 2002.8333333333333,
 'nm0301274': 3886.8333333333335,
 'nm0613444': 575.2,
 'nm0026153': 5407.166666666667,
 'nm0110293': 12946.75,
 'nm0110294': 12946.75,
 'nm0392955': 9478.0,
 'nm1125275': 1698.5714285714287,
 'nm0011470': 14925.25,
 'nm0507000': 6104.5,
 'nm0668754': 6778.0,
 'nm1321655': 3780.0,
 'nm1321656': 3780.0,
 'nm0000466': 7111.5,
 'nm0491011': 7202.4,
 'nm0634240': 16638.3,
 'nm0353673': 5936.5,
 'nm0634300': 19035.0,
 'nm0717550': 2906.1428571428573,
 'nm0903456': 2906.1428571428573,
 'nm0688279': 1918.75,
 'nm1590998': 1591.3333333333333,
 'nm0930261': 15871.2,
 'nm1557594': 2409.5,
 'nm0043233': 4871.0,
 'nm0467942': 3053.125,
 'nm1469874': 6446.666666666667,
 'nm0190859': 8336.4,
 'nm0379179': 277.0,
 'nm0736966': 2558.75,
 'nm0000127': 987.3333333333334,
 'nm0475905': 81.2,
 'nm1242522': 270.75,
 'nm0276169': 214.75,
 'nm0940790': 938.2857142857143,
 'nm0256497': 757.6666666666666,
 'nm0213450': 15746.4,
 'nm0001681': 1042.5833333333333,
 'nm0486228': 1858.5,
 'nm0338396': 2072.6666666666665,
 'nm0489623': 3160.5,
 'nm0662748': 4180.0,
 'nm0874844': 3917.6666666666665,
 'nm1733301': 3016.25,
 'nm0769227': 456.6666666666667,
 'nm0669379': 700.0,
 'nm0925482': 490.0,
 'nm1340000': 490.0,
 'nm0166256': 17602.2,
 'nm0615780': 17602.2,
 'nm0829044': 853.2857142857143,
 'nm0972395': 1586.6666666666667,
 'nm0558533': 1645.0,
 'nm0591160': 1385.6666666666667,
 'nm0021249': 25119.0,
 'nm0361315': 41146.5,
 'nm0423161': 59245.333333333336,
 'nm0510674': 42528.0,
 'nm0629734': 49204.0,
 'nm0969162': 49204.0,
 'nm0178260': 3772.5,
 'nm0908624': 5556.25,
 'nm0359387': 794.8333333333334,
 'nm1034122': 2644.6666666666665,
 'nm0033153': 7451.0,
 'nm0159039': 8646.25,
 'nm0538320': 8646.25,
 'nm1184258': 5781.5,
 'nm1010405': 1647.6666666666667,
 'nm0001348': 317.47058823529414,
 'nm2774833': 738.0,
 'nm5335213': 738.0,
 'nm0110591': 1020.8571428571429,
 'nm0604948': 1258.6666666666667,
 'nm0600546': 461.75,
 'nm1578335': 4974.0,
 'nm0004675': 2006.5,
 'nm0000158': 3276.0,
 'nm0491306': 1552.0,
 'nm0499626': 2790.0,
 'nm0730385': 1726.75,
 'nm0258493': 4583.285714285715,
 'nm0258525': 6351.0,
 'nm0493857': 16418.4,
 'nm0583292': 3321.777777777778,
 'nm0000668': 2405.2,
 'nm0000807': 1430.0714285714287,
 'nm0123666': 5712.0,
 'nm0456732': 4254.6,
 'nm0520485': 7389.666666666667,
 'nm0640976': 6931.666666666667,
 'nm0661910': 6162.375,
 'nm0000229': 5626.166666666667,
 'nm0059493': 4780.25,
 'nm0069547': 3763.3333333333335,
 'nm0384398': 6270.0,
 'nm0231190': 1134.5,
 'nm0004122': 1349.1666666666667,
 'nm0933858': 5701.142857142857,
 'nm0048276': 5221.8,
 'nm0381478': 2424.3333333333335,
 'nm1415801': 2424.3333333333335,
 'nm0184947': 218.75,
 'nm0432075': 1209.6666666666667,
 'nm0665305': 787.3333333333334,
 'nm0741439': 560.0,
 'nm0850695': 1094.5,
 'nm0236279': 2420.222222222222,
 'nm0119423': 260.0,
 'nm0118227': 703.0,
 'nm0175333': 1164.4,
 'nm0372942': 2376.935483870968,
 'nm0496468': 6258.909090909091,
 'nm0531269': 1293.875,
 'nm0753452': 2130.75,
 'nm0131661': 3599.0,
 'nm0395924': 3599.0,
 'nm1938852': 5436.25,
 'nm0136950': 612.75,
 'nm0318326': 612.75,
 'nm0363958': 591.0,
 'nm0864471': 598.8,
 'nm0204030': 3432.25,
 'nm0398185': 926.3333333333334,
 'nm0701031': 7382.0,
 'nm0905498': 7382.0,
 'nm0001874': 737.1666666666666,
 'nm0291035': 552.4,
 'nm0659085': 607.0,
 'nm0213100': 298.6666666666667,
 'nm0456017': 2472.4285714285716,
 'nm0108595': 3765.6666666666665,
 'nm0122446': 1878.2222222222222,
 'nm0165412': 2501.4,
 'nm0285210': 1262.4,
 'nm0002616': 479.3333333333333,
 'nm0280234': 2063.4,
 'nm0613848': 728.0,
 'nm0829330': 947.125,
 'nm0204016': 1147.75,
 'nm0780833': 8443.555555555555,
 'nm0425138': 11421.714285714286,
 'nm0751207': 15375.8,
 'nm1079776': 7045.833333333333,
 'nm1341735': 1494.25,
 'nm1183854': 722.25,
 'nm0377417': 964.0,
 'nm0490958': 1099.8333333333333,
 'nm0788630': 791.8333333333334,
 'nm0827632': 129.0,
 'nm0123194': 5431.25,
 'nm0234837': 17563.0,
 'nm0443855': 14851.0,
 'nm0448208': 9298.666666666666,
 'nm0632893': 24937.0,
 'nm0636236': 8778.0,
 'nm0708319': 12427.0,
 'nm0811279': 23233.0,
 'nm0910559': 12245.666666666666,
 'nm0927845': 15415.25,
 'nm1850798': 8922.333333333334,
 'nm0335666': 3777.5555555555557,
 'nm0674518': 5513.714285714285,
 'nm0855035': 1432.0,
 'nm0057381': 3803.0,
 'nm0477696': 1089.3333333333333,
 'nm0842582': 720.2,
 'nm0310087': 1806.75,
 'nm0841532': 1806.75,
 'nm0791084': 207.0,
 'nm0001837': 1184.5714285714287,
 'nm0932011': 785.0,
 'nm0057398': 1996.5,
 'nm0611848': 1996.5,
 'nm0070368': 2260.5,
 'nm0227540': 5939.333333333333,
 'nm1943855': 2260.5,
 'nm0492909': 956.4285714285714,
 'nm1140275': 669.8333333333334,
 'nm0787072': 7974.0,
 'nm0829329': 7825.8,
 'nm0662529': 487.0,
 'nm0928492': 302.14285714285717,
 'nm0010004': 6204.0,
 'nm0073850': 4679.75,
 'nm0826425': 14063.333333333334,
 'nm0918955': 12337.857142857143,
 'nm0776433': 236.16666666666666,
 'nm0516001': 375.3333333333333,
 'nm0853130': 375.3333333333333,
 'nm0924065': 375.3333333333333,
 'nm0000110': 1582.0,
 'nm0171474': 356.75,
 'nm0000905': 3169.0,
 'nm0148437': 3169.0,
 'nm0400403': 7694.0,
 'nm0919815': 415.0,
 'nm0776114': 2599.285714285714,
 'nm0455510': 508.0,
 'nm0818415': 354.6666666666667,
 'nm0818416': 354.6666666666667,
 'nm0397322': 1528.3333333333333,
 'nm0002042': 898.3529411764706,
 'nm0055726': 114.5,
 'nm0686233': 821.6666666666666,
 'nm0569790': 690.8,
 'nm0865847': 1402.0,
 'nm0723692': 435.3333333333333,
 'nm0000914': 3094.0,
 'nm0000953': 501.25,
 'nm0377750': 2314.8333333333335,
 'nm0001466': 7716.75,
 'nm0002759': 2686.0,
 'nm0607694': 4161.0,
 'nm0166074': 1849.5714285714287,
 'nm0478588': 1849.5714285714287,
 'nm0000626': 255.16666666666666,
 'nm0371059': 622.0,
 'nm0058129': 1280.0,
 'nm0759029': 1750.4,
 'nm0101115': 173.2,
 'nm0110958': 703.3333333333334,
 'nm0529450': 2362.0,
 'nm0710723': 556.4,
 'nm0173679': 1243.8,
 'nm0337582': 1243.8,
 'nm0066939': 914.0,
 'nm0832099': 593.8333333333334,
 'nm0414608': 1266.6,
 'nm0455404': 2087.75,
 'nm0629580': 593.0,
 'nm0928444': 700.6666666666666,
 'nm0329304': 2538.818181818182,
 'nm0352443': 2538.818181818182,
 'nm0842485': 4104.0,
 'nm0590316': 830.25,
 'nm0873707': 185.16666666666666,
 'nm0487567': 96.0,
 'nm0191717': 22050.0,
 'nm0250995': 21703.0,
 'nm0314870': 16676.25,
 'nm0682066': 16302.5,

In [25]:
writer_df['writer_inter'] = writer_df['writer'].map(writer_dict)

In [26]:
writer_df

        item     writer  writer_inter
0       1237  nm0000005    316.842105
1       5147  nm0000005    316.842105
2       7327  nm0000005    316.842105
3       2068  nm0000005    316.842105
4       7396  nm0000005    316.842105
...      ...        ...           ...
1154   55284  nm0000000    269.562069
1155   81910  nm0000000    269.562069
1156    4091  nm0000000    269.562069
1157    2046  nm0000000    269.562069
1158  110591  nm0000000    269.562069

[12465 rows x 3 columns]

In [27]:
# 결과 확인용
writer_df[writer_df['item']==1]

       item     writer  writer_inter
1942      1  nm0004056  28383.800000
2053      1  nm0005124  23612.714286
3512      1  nm0169505  15000.500000
3953      1  nm0230032  33020.428571
8254      1  nm0710020  42629.777778
9236      1  nm0812513  15000.500000
10205     1  nm0923736  10687.909091

In [28]:
df = writer_df.groupby('item')['writer_inter'].max()

In [29]:
df

item
1         42629.777778
2          5837.125000
3           510.625000
4          1336.307692
5          2538.818182
              ...
118700      269.562069
118900     5791.285714
118997       96.000000
119141     1974.125000
119145     7050.285714
Name: writer_inter, Length: 6807, dtype: float64

In [ ]:
# 결과 확인용
writer_df[writer_df['item']==25764]

       item     writer  writer_inter
2841  25764  nm0090213      3067.000
3099  25764  nm0115669       653.875
4238  25764  nm0267868       245.750
6655  25764  nm0513858       296.000
7422  25764  nm0604526       230.000

In [31]:
writer_df = writer_df.merge(df, how='left', on='item')
writer_df

         item     writer  writer_inter_x  writer_inter_y
0        1237  nm0000005      316.842105      316.842105
1        5147  nm0000005      316.842105      316.842105
2        7327  nm0000005      316.842105      316.842105
3        2068  nm0000005      316.842105      316.842105
4        7396  nm0000005      316.842105      316.842105
...       ...        ...             ...             ...
12460   55284  nm0000000      269.562069      269.562069
12461   81910  nm0000000      269.562069      269.562069
12462    4091  nm0000000      269.562069      269.562069
12463    2046  nm0000000      269.562069      269.562069
12464  110591  nm0000000      269.562069      269.562069

[12465 rows x 4 columns]

In [32]:
writer_df['writer_info'] = writer_df['writer_inter_y']

In [33]:
writer_df.drop_duplicates(
        subset=["item"], keep="first", inplace=True)

In [34]:
writer_df

         item     writer  writer_inter_x  writer_inter_y  writer_info
0        1237  nm0000005      316.842105      316.842105   316.842105
1        5147  nm0000005      316.842105      316.842105   316.842105
2        7327  nm0000005      316.842105      316.842105   316.842105
3        2068  nm0000005      316.842105      316.842105   316.842105
4        7396  nm0000005      316.842105      316.842105   316.842105
...       ...        ...             ...             ...          ...
12460   55284  nm0000000      269.562069      269.562069   269.562069
12461   81910  nm0000000      269.562069      269.562069   269.562069
12462    4091  nm0000000      269.562069      269.562069   269.562069
12463    2046  nm0000000      269.562069      269.562069   269.562069
12464  110591  nm0000000      269.562069      269.562069   269.562069

[6807 rows x 5 columns]

In [37]:
writer_df[['item','writer_info']].to_csv(
    "writer_inter_cnt.csv", index=False
)

In [36]:
writer_df[['item','writer_info']]

         item  writer_info
0        1237   316.842105
1        5147   316.842105
2        7327   316.842105
3        2068   316.842105
4        7396   316.842105
...       ...          ...
12460   55284   269.562069
12461   81910   269.562069
12462    4091   269.562069
12463    2046   269.562069
12464  110591   269.562069

[6807 rows x 2 columns]