In [2]:
#!python -m pip install featuretools

Collecting featuretools
  Downloading featuretools-1.19.0-py3-none-any.whl (522 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 522.5/522.5 kB 29.8 MB/s eta 0:00:00
Requirement already satisfied: psutil>=5.6.6 in /opt/conda/lib/python3.8/site-packages (from featuretools) (5.9.4)
Collecting woodwork[dask]>=0.18.0
  Downloading woodwork-0.21.1-py3-none-any.whl (230 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 230.5/230.5 kB 37.6 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.8/site-packages (from featuretools) (21.3)
Requirement already satisfied: scipy>=1.4.0 in /opt/conda/lib/python3.8/site-packages (from featuretools) (1.8.0)
Requirement already satisfied: tqdm>=4.32.0 in /opt/conda/lib/python3.8/site-packages (from featuretools) (4.51.0)
Collecting holidays>=0.13
  Downloading holidays-0.18-py3-none-any.whl (195 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 196.0/196.0 kB 35.5 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.8/site-packages (from featuretools) (1.23.5)
Collecting distributed!=2022.10.1,>=2022.2.0
  Downloading distributed-2022.12.1-py3-none-any.whl (930 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 930.1/930.1 kB 64.6 MB/s eta 0:00:00
Collecting dask[dataframe]!=2022.10.1,>=2022.2.0
  Downloading dask-2022.12.1-py3-none-any.whl (1.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 51.6 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.4.0 in /opt/conda/lib/python3.8/site-packages (from featuretools) (1.5.2)
Collecting cloudpickle>=1.5.0
  Downloading cloudpickle-2.2.0-py3-none-any.whl (25 kB)
Requirement already satisfied: click>=7.0 in /opt/conda/lib/python3.8/site-packages (from dask[dataframe]!=2022.10.1,>=2022.2.0->featuretools) (8.1.3)
Collecting fsspec>=0.6.0
  Downloading fsspec-2022.11.0-py3-none-any.whl (139 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.5/139.5 kB 33.1 MB/s eta 0:00:00
Collecting toolz>=0.8.2
  Downloading toolz-0.12.0-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.8/55.8 kB 13.0 MB/s eta 0:00:00
Requirement already satisfied: pyyaml>=5.3.1 in /opt/conda/lib/python3.8/site-packages (from dask[dataframe]!=2022.10.1,>=2022.2.0->featuretools) (5.3.1)
Collecting partd>=0.3.10
  Downloading partd-1.3.0-py3-none-any.whl (18 kB)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.8/site-packages (from distributed!=2022.10.1,>=2022.2.0->featuretools) (1.25.11)
Requirement already satisfied: tornado>=6.0.3 in /opt/conda/lib/python3.8/site-packages (from distributed!=2022.10.1,>=2022.2.0->featuretools) (6.1)
Collecting locket>=1.0.0
  Downloading locket-1.0.0-py2.py3-none-any.whl (4.4 kB)
Collecting zict>=0.1.3
  Downloading zict-2.2.0-py2.py3-none-any.whl (23 kB)
Requirement already satisfied: jinja2 in /opt/conda/lib/python3.8/site-packages (from distributed!=2022.10.1,>=2022.2.0->featuretools) (2.11.2)
Collecting tblib>=1.6.0
  Downloading tblib-1.7.0-py2.py3-none-any.whl (12 kB)
Collecting sortedcontainers!=2.0.0,!=2.0.1
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Requirement already satisfied: msgpack>=0.6.0 in /opt/conda/lib/python3.8/site-packages (from distributed!=2022.10.1,>=2022.2.0->featuretools) (1.0.4)
Collecting hijri-converter
  Downloading hijri_converter-2.2.4-py3-none-any.whl (14 kB)
Collecting convertdate>=2.3.0
  Downloading convertdate-2.4.0-py3-none-any.whl (47 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.9/47.9 kB 13.4 MB/s eta 0:00:00
Collecting PyMeeus
  Downloading PyMeeus-0.5.12.tar.gz (5.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.8/5.8 MB 83.3 MB/s eta 0:00:00ta 0:00:01
  Preparing metadata (setup.py) ... done
Collecting korean-lunar-calendar
  Downloading korean_lunar_calendar-0.3.1-py3-none-any.whl (9.0 kB)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.8/site-packages (from holidays>=0.13->featuretools) (2.8.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/conda/lib/python3.8/site-packages (from packaging>=20.0->featuretools) (3.0.7)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.8/site-packages (from pandas>=1.4.0->featuretools) (2020.5)
Requirement already satisfied: scikit-learn>=0.22 in /opt/conda/lib/python3.8/site-packages (from woodwork[dask]>=0.18.0->featuretools) (1.2.0)
Collecting importlib-resources>=5.10.0
  Downloading importlib_resources-5.10.1-py3-none-any.whl (34 kB)
Requirement already satisfied: zipp>=3.1.0 in /opt/conda/lib/python3.8/site-packages (from importlib-resources>=5.10.0->woodwork[dask]>=0.18.0->featuretools) (3.7.0)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil->holidays>=0.13->featuretools) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn>=0.22->woodwork[dask]>=0.18.0->featuretools) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.8/site-packages (from scikit-learn>=0.22->woodwork[dask]>=0.18.0->featuretools) (1.2.0)
Collecting heapdict
  Downloading HeapDict-1.0.1-py3-none-any.whl (3.9 kB)
Requirement already satisfied: MarkupSafe>=0.23 in /opt/conda/lib/python3.8/site-packages (from jinja2->distributed!=2022.10.1,>=2022.2.0->featuretools) (1.1.1)
Building wheels for collected packages: PyMeeus
  Building wheel for PyMeeus (setup.py) ... done
  Created wheel for PyMeeus: filename=PyMeeus-0.5.12-py3-none-any.whl size=731999 sha256=90c97ed91cd8881345cf22ef9dc7af1785732ff22eb9f12e2014a6500706dd06
  Stored in directory: /opt/ml/.cache/pip/wheels/b9/49/19/1ec4bcf2cc7640c6ee7815d9c02d06eaab89148fcd20e218c5
Successfully built PyMeeus
Installing collected packages: sortedcontainers, PyMeeus, korean-lunar-calendar, heapdict, zict, toolz, tblib, locket, importlib-resources, hijri-converter, fsspec, convertdate, cloudpickle, partd, holidays, woodwork, dask, distributed, featuretools
  Attempting uninstall: importlib-resources
    Found existing installation: importlib-resources 5.4.0
    Uninstalling importlib-resources-5.4.0:
      Successfully uninstalled importlib-resources-5.4.0
Successfully installed PyMeeus-0.5.12 cloudpickle-2.2.0 convertdate-2.4.0 dask-2022.12.1 distributed-2022.12.1 featuretools-1.19.0 fsspec-2022.11.0 heapdict-1.0.1 hijri-converter-2.2.4 holidays-0.18 importlib-resources-5.10.1 korean-lunar-calendar-0.3.1 locket-1.0.0 partd-1.3.0 sortedcontainers-2.4.0 tblib-1.7.0 toolz-0.12.0 woodwork-0.21.1 zict-2.2.0
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [1]:
import torch
import pandas as pd
import numpy as np
# pip install transformers
from transformers import BertTokenizer, BertModel
# 만약 주피터 노트북에서 아래와 관계있는 에러가 발생한다면
# pip install ipywidgets

In [2]:
main_df = pd.read_csv('/opt/ml/input/data/train/train_ratings.csv') # user-item-time
title_df = pd.read_csv('/opt/ml/input/data/train/titles.tsv', sep='\t') # item-title
year_df = pd.read_csv('/opt/ml/input/data/train/years.tsv', sep='\t') # item-year
director_df = pd.read_csv('/opt/ml/input/data/train/directors.tsv', sep='\t') # item-director
genre_name_df = pd.read_csv('/opt/ml/input/data/train/genres.tsv', sep='\t') # item-genre(name)
writer_df = pd.read_csv('/opt/ml/input/data/train/writers.tsv', sep='\t') # item-writer

## 각 유저별 본 영화의 interaction 수의 통계량(min, max, std)

In [4]:
main_df

           user   item        time
0            11   4643  1230782529
1            11    170  1230782534
2            11    531  1230782539
3            11    616  1230782542
4            11   2140  1230782563
...         ...    ...         ...
5154466  138493  44022  1260209449
5154467  138493   4958  1260209482
5154468  138493  68319  1260209720
5154469  138493  40819  1260209726
5154470  138493  27311  1260209807

[5154471 rows x 3 columns]

In [7]:
item_inter_df = pd.read_csv('/opt/ml/input/fighting/FE/item/item_interaction_cnt.csv')

In [9]:
df = main_df.merge(item_inter_df, how='left', on='item')

In [13]:
df

           user   item        time  item_cnt
0            11   4643  1230782529      1122
1            11    170  1230782534      1107
2            11    531  1230782539       966
3            11    616  1230782542      1101
4            11   2140  1230782563      1516
...         ...    ...         ...       ...
5154466  138493  44022  1260209449      1282
5154467  138493   4958  1260209482       621
5154468  138493  68319  1260209720      1443
5154469  138493  40819  1260209726      4730
5154470  138493  27311  1260209807       214

[5154471 rows x 4 columns]

In [11]:
user_grouped = df.groupby('user')

In [15]:
result = user_grouped.agg({'item_cnt':['mean','std']})

In [18]:
result = pd.DataFrame(result)

In [23]:
result.columns = ['user','seen_item_inter_mean','seen_item_inter_std']

In [24]:
result

         user  seen_item_inter_mean  seen_item_inter_std
0          11           3719.351064          4316.497874
1          14           3073.027778          3768.996954
2          18           3769.766234          4812.976459
3          25           7721.142857          4926.058635
4          31           3304.058442          4207.146662
...       ...                   ...                  ...
31355  138473           7041.571429          5419.559584
31356  138475           1339.217742          2048.243886
31357  138486           4972.875912          4182.405810
31358  138492           5347.294118          4487.995092
31359  138493           3701.936306          4167.737972

[31360 rows x 3 columns]

In [25]:
result.to_csv('user_seen_item_statistic.csv', index=False)